<h1>Reviews</h1>

<div class="form-group">
  <%= link_to 'New Review', new_admin_review_path, class: 'btn btn-default' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Property</th>
      <th>Review content</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.id %></td>
        <td><%= review.property.name %></td>
        <td><%= review.content %></td>
        <td><%= review.date %></td>
        <td>

          <%= link_to 'Delete', [:admin, review], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
