<div class="col-xs-12 col-lg-8">
  <div class="index-content-container">
    <div class="row">
      <% if @available_properties.present? %>
        <div class="col-xs-12">
          <h3>The following lodges are available on your dates</h3>
          <hr class="gray-hr">
        </div>
      <% end %>
      <% if params[:search].present? %>
        <% i = 1 %>
        <% @startdate = params[:search][:start_date] %>
        <% @nights = params[:search][:nights] %>
        <% @properties.where(code: @available_properties.keys).each do |property| %>
          <div class="col-xs-12">
            <% @price = @available_properties[property.code][:price] %>
            <% @book_link = @available_properties[property.code][:book_link] %>
            <% @message = @available_properties[property.code][:price_message] %>
            <%= link_to property_path(property, :price => @price, :book_link => @book_link, :start_date => @startdate,
                :nights => @nights) do %>
              <div class="index-card-desk">
                <div class="index-card-img-carousel-desk">
                  <div id="myCarousel<%= i %>" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel<%= i %>" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel<%= i %>" data-slide-to="1"></li>
                      <li data-target="#myCarousel<%= i %>" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <% unless property.hero_image.blank? %>
                          <%= image_tag(cl_image_path property.hero_image, height: 450, width: 500, crop: :fill) %>
                        <% end %>
                      </div>
                      <% unless property.photos.blank? %>
                        <% property.photos.order(created_at: :desc).take(2).each do |photo| %>
                          <% unless photo.image.blank? %>
                            <div class="item">
                              <%= image_tag(cl_image_path photo.image, height: 450, width: 500, crop: :fill) %>
                            </div>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel<%= i %>" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel<%= i %>" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
                <%= link_to property_path(property, :price => @price, :book_link => @book_link, :start_date => @startdate,
                    :nights => @nights) do %>
                  <div class="index-card-content-desk">
                    <h4><%= property.name %></h4>
                    <% unless @price == 0 %>
                      <h6>£<%= @price %> total for <%= @days %> nights</h6>
                    <% end %>
                    <% if @price == 0 %>
                      <h6><%= @message %></h6>
                    <% end %>
                    <div class="index-card-attributes">
                      <div class="row">
                        <div class="col-xs-6">
                          <p><strong>Sleeps:</strong> <%= property.sleeps %></p>
                          <p><strong>Bedrooms:</strong> <%= property.bedrooms %></p>
                          <p><strong>Bathrooms:</strong> <%= property.bathrooms %></p>
                        </div>
                        <div class="col-xs-6">
                          <% if property.hot_tub && property.sauna || property.hot_tub || property.sauna %>
                            <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Hot Tub / Sauna</strong></p>
                          <% end %>
                          <% if property.games_room %>
                            <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Games Room</strong></p>
                          <% end %>
                          <% if property.wood_stove %>
                            <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Wood Burner</strong></p>
                          <% end %>
                          <% if property.pet_friendly %>
                            <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Pet Friendly</strong></p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <h5><%= property.headline %></h5>
                    <div class="description-text" id="description<%= i %>">
                      <p><%= property.description.truncate(500) %></p>
                      <br>
                      <br>
                    </div>
                    <div class="index-card-btn-container desk">
                      <div class="green-back">
                        <div class="index-card-btn">
                          <p>View Lodge</p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <% i += 1 %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>The following lodges are available on different dates</h3>
          <hr class="gray-hr">
        </div>
        <% @properties.where.not(code: @available_properties.keys).each do |property| %>
          <div class="col-xs-12">
            <%= link_to property_path(property) do %>
              <div class="index-card-desk">
                <div class="index-card-img-carousel-desk">
                  <div id="myCarousel<%= i %>" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel<%= i %>" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel<%= i %>" data-slide-to="1"></li>
                      <li data-target="#myCarousel<%= i %>" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <% unless property.hero_image.blank? %>
                          <%= image_tag(cl_image_path property.hero_image, height: 450, width: 500, crop: :fill) %>
                        <% end %>
                      </div>
                      <% unless property.photos.blank? %>
                        <% property.photos.order(created_at: :desc).take(2).each do |photo| %>
                          <% unless photo.image.blank? %>
                            <div class="item">
                              <%= image_tag(cl_image_path photo.image, height: 450, width: 500, crop: :fill) %>
                            </div>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel<%= i %>" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel<%= i %>" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
                <%= link_to property_path(property) do %>
                  <div class="index-card-content-desk">
                    <h4><%= property.name %></h4>
                    <h6>From £<%= property.min_daily_price.round.to_i %> per night, check availability</h6>
                    <div class="index-card-attributes">
                      <div class="row">
                        <div class="col-xs-6">
                          <p><strong>Sleeps:</strong> <%= property.sleeps %></p>
                          <p><strong>Bedrooms:</strong> <%= property.bedrooms %></p>
                          <p><strong>Bathrooms:</strong> <%= property.bathrooms %></p>
                        </div>
                        <div class="col-xs-6">
                          <% if property.hot_tub && property.sauna || property.hot_tub || property.sauna %>
                            <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Hot Tub / Sauna</strong></p>
                          <% end %>
                          <% if property.games_room %>
                            <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Games Room</strong></p>
                          <% end %>
                          <% if property.wood_stove %>
                            <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Wood Burner</strong></p>
                          <% end %>
                          <% if property.pet_friendly %>
                            <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Pet Friendly</strong></p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <h5><%= property.headline %></h5>
                    <div class="description-text" id="description<%= i %>">
                      <p><%= property.description.truncate(500) %></p>
                      <br>
                      <br>
                    </div>
                    <div class="index-card-btn-container desk">
                      <div class="green-back">
                        <div class="index-card-btn">
                          <p>View Lodge</p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <% i += 1 %>
        <% end %>
      <% else %>
        <% i = 1 %>
        <% @properties.each do |property| %>
          <div class="col-xs-12">
            <%= link_to property_path(property) do %>
              <div class="index-card-desk">
                <div class="index-card-img-carousel-desk">
                  <div id="myCarousel<%= i %>" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel<%= i %>" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel<%= i %>" data-slide-to="1"></li>
                      <li data-target="#myCarousel<%= i %>" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <% unless property.hero_image.blank? %>
                          <%= cl_image_tag(property.hero_image, height: 450, width: 500, crop: :fill) %>
                        <% end %>
                      </div>
                      <% unless property.photos.blank? %>
                        <% property.photos.order(created_at: :desc).take(2).each do |photo| %>
                          <% unless photo.image.blank? %>
                            <div class="item">
                              <%= cl_image_tag(photo.image, height: 450, width: 500, crop: :fill) %>
                            </div>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel<%= i %>" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel<%= i %>" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
                <%= link_to property_path(property) do %>
                  <div class="index-card-content-desk">
                    <h4><%= property.name %></h4>
                    <h6>From £<%= property.min_daily_price.round.to_i %> per night</h6>
                    <div class="index-card-attributes">
                      <div class="row">
                        <div class="col-xs-6">
                          <p><strong>Sleeps:</strong> <%= property.sleeps %></p>
                          <p><strong>Bedrooms:</strong> <%= property.bedrooms %></p>
                          <p><strong>Bathrooms:</strong> <%= property.bathrooms %></p>
                        </div>
                        <div class="col-xs-6">
                          <% if property.hot_tub && property.sauna || property.hot_tub || property.sauna %>
                            <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Hot Tub / Sauna</strong></p>
                          <% end %>
                          <% if property.games_room %>
                            <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Games Room</strong></p>
                          <% end %>
                          <% if property.wood_stove %>
                            <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Wood Burner</strong></p>
                          <% end %>
                          <% if property.pet_friendly %>
                            <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Pet Friendly</strong></p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <h5><%= property.headline %></h5>
                    <div class="index-card-btn-container desk">
                      <div class="green-back">
                        <div class="index-card-btn">
                          <p>View Lodge</p>
                        </div>
                      </div>
                    </div>
                    <% i += 1 %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
