<div class="container">
  <div class="row">
    <h1 class="text-center">Cosy Cottage and Rural Retreats</h1>
    <div class="col-xs-12 col-md-6">
      <h3>What makes a Handpicked Lodge?</h3>
      <p>Our lodges are all unique and characterful, but also wonderfully comfortable and welcoming. We want these handpicked holiday homes to truly be your home from home so we've made sure that they are fully kitted out with everything you may need during your stay. They are all perfect for families and for dogs and are in convenient but peaceful locations. They are all close to shops for everyday needs - but the Handpicked Lodges team are also at the end of the phone and only 15 minutes away should you ever need any further help or advice.</p>
    </div>
    <div class="col-xs-12 col-md-6">
      <h3>What makes a Handpicked Lodge?</h3>
      <p>​They all include kitchen linen and washing up materials, hand wash, towels and hairdryers, dishwashers and washing machines. There are no extra charges for heating and lighting and most provide free logs for the wood burning stoves during the winter months. Cots and high chairs are available on request. Many offer short breaks (2 nights or more) and they all offer weekend breaks as well as week long holidays.</p>
      <p style="font-size: 14px">Please note: all our lodges are no smoking</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="main-container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="sidebar-container-left">
          <h3>Check availability for your handpicked lodge</h3>
          <div class="availability-checker">
            <%= simple_form_for :search, url: properties_path, method: :get do |t| %>
              <%= t.input :start_date, placeholder: "Check-in", label: false, as: :string, input_html: { class: "start-date-picker", require: true } %>
              <%= t.input :end_date, placeholder: "Check-out", label: false, as: :string, input_html: { class: "end-date-picker" } %>
              <%= t.submit "CHECK AVAILABILITY", name: nil, class: "btn btn-success", :input_html => { id: 'products_search' } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="content-container">
          <div class="row">
            <% if @available_properties.present? %>
              <h4>There are <%= @available_properties.count %> lodges available on your dates</h4>
            <% end %>
            <% if params[:search].present? %>
              <% @startdate = params[:search][:start_date] %>
              <% @enddate = params[:search][:end_date] %>
              <% @properties.where(code: @available_properties.keys).each do |property| %>
                <div class="col-xs-12 col-sm-6">
                  <% @price = @available_properties[property.code][:price] %>
                  <% @book_link = @available_properties[property.code][:book_link] %>
                  <% @message = @available_properties[property.code][:price_message] %>
                  <div class="index-card">
                    <div class="index-card-img">
                    </div>
                    <div class="index-card-content">
                      <h4><%= property.name %></h4>
                      <% unless @price == 0 %>
                        <h6>£<%= @price %> total for <%= @days %> days</h6>
                      <% end %>
                      <% if @price == 0 %>
                        <h6><%= @message %></h6>
                      <% end %>
                      <div class="index-card-attributes">
                        <div class="row">
                          <div class="col-xs-6">
                            <p><strong>Sleeps:</strong> <%= property.sleeps %></p>
                            <p><strong>Bedrooms:</strong> <%= property.bedrooms %></p>
                            <p><strong>Bathrooms:</strong> <%= property.bathrooms %></p>
                          </div>
                          <div class="col-xs-6">
                            <% if property.pet_friendly %>
                              <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Pet Friendly</strong></p>
                            <% end %>
                            <% if property.sauna %>
                              <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Sauna</strong></p>
                            <% end %>
                            <% if property.hot_tub %>
                              <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Hot Tub</strong></p>
                            <% end %>
                            <% if property.wood_stove %>
                              <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Wood Stove</strong></p>
                            <% end %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-6">
                            <div class="btn btn-success">More detail</div>
                          </div>
                          <div class="col-xs-6">
                            <%= link_to property_path(property, :price => @price, :book_link => @book_link, :start_date => @startdate,
                            :end_date => @enddate), target: :_blank do %>
                              <div class="btn btn-success">View Lodge</div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="row">
              <h4>Unfortunately these lodges are no longer available on your dates</h4>
              <% @properties.where.not(code: @available_properties.keys).each do |property| %>
                <div class="col-xs-12 col-sm-6">
                  <div class="index-card">
                    <div class="index-card-img">
                    </div>
                    <div class="index-card-content">
                      <h4><%= property.name %></h4>
                      <h6>From £<%= property.min_daily_price.round.to_i %> per night, check availability</h6>
                      <div class="index-card-attributes">
                        <div class="row">
                          <div class="col-xs-6">
                            <p><strong>Sleeps:</strong> <%= property.sleeps %></p>
                            <p><strong>Bedrooms:</strong> <%= property.bedrooms %></p>
                            <p><strong>Bathrooms:</strong> <%= property.bathrooms %></p>
                          </div>
                          <div class="col-xs-6">
                            <% if property.pet_friendly %>
                              <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Pet Friendly</strong></p>
                            <% end %>
                            <% if property.sauna %>
                              <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Sauna</strong></p>
                            <% end %>
                            <% if property.hot_tub %>
                              <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Hot Tub</strong></p>
                            <% end %>
                            <% if property.wood_stove %>
                              <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Wood Stove</strong></p>
                            <% end %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-6">
                            <div class="btn btn-success">More detail</div>
                          </div>
                          <div class="col-xs-6">
                            <%= link_to property_path(property), target: :_blank do %>
                              <div class="btn btn-success">View Lodge</div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <% @properties.each do |property| %>
                <div class="col-xs-12 col-sm-6">
                  <div class="index-card">
                    <div class="index-card-img">
                    </div>
                    <div class="index-card-content">
                      <h4><%= property.name %></h4>
                      <h6>From £<%= property.min_daily_price.round.to_i %> per night</h6>
                      <div class="index-card-attributes">
                        <div class="row">
                          <div class="col-xs-6">
                            <p><strong>Sleeps:</strong> <%= property.sleeps %></p>
                            <p><strong>Bedrooms:</strong> <%= property.bedrooms %></p>
                            <p><strong>Bathrooms:</strong> <%= property.bathrooms %></p>
                          </div>
                          <div class="col-xs-6">
                            <% if property.pet_friendly %>
                              <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Pet Friendly</strong></p>
                            <% end %>
                            <% if property.sauna %>
                              <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Sauna</strong></p>
                            <% end %>
                            <% if property.hot_tub %>
                              <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Hot Tub</strong></p>
                            <% end %>
                            <% if property.wood_stove %>
                              <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Wood Stove</strong></p>
                            <% end %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-6">
                            <div class="btn btn-success">More detail</div>
                          </div>
                          <div class="col-xs-6">
                            <%= link_to property_path(property), target: :_blank do %>
                              <div class="btn btn-success">View Lodge</div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
