<!-- <div class="white-wrapper"> -->
  <!-- <div class="test-container"> -->
    <div class="slider">
      <div>
        <%= image_tag("cairngorm-national-park.jpg") %>
      </div>
      <div>
        <%= image_tag("handpicked-logo.png") %>
      </div>
    </div>
    <div class="slider-nav">
      <div>
        <%= image_tag("cairngorm-national-park.jpg") %>
      </div>
      <div>
        <%= image_tag("handpicked-logo.png") %>
      </div>
    </div>
 <!--  </div>
</div> -->


  <!-- <div class="container"> -->
    <div class="grey-header-text">
      <h1><%= @property.name %></h1>
      <h4><%= @property.headline %></h4>
    </div>
    <% if @property.hero_image? %>
      <div class="show-banner-cloudinary" style="background-image: url('<%= cl_image_path @property.hero_image, crop: :fill %>');">
      </div>
    <% else %>

    <% end %>
    </div>
  <!-- </div> -->
</div>


<div class="container">
  <div class="main-container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="content-container">
        <!-- Nav tabs -->
          <ul class="nav nav-pills nav-green nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab">Features</a></li>
            <li role="presentation"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
            <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
            <li role="presentation"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-spacing">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="features">
                <ul>
                  <% @property.features.each do |feature| %>
                    <li><%= feature %></li>
                  <% end %>
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="description">
                <p><%= simple_format(@property.description) %></p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="reviews">
                <p>Reviews to be added to database and here</p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="map">
                <div id='show-map'></div>
                <script>
                  var token = "<%= ENV["MAPBOX"] %>";
                  var longitude = "<%= @property.longitude %>";
                  var latitude = "<%= @property.latitude %>";
                  var markerImage = "<%= image_url("marker-15.svg") %>";
                  console.log(markerImage);
                  var geojson = {
                      "type": "FeatureCollection",
                      "features": [
                          {
                              "type": "Feature",
                              "properties": {
                                  "iconSize": [30, 30]
                              },
                              "geometry": {
                                  "type": "Point",
                                  "coordinates": [
                                      longitude,
                                      latitude
                                  ]
                              }
                          }
                      ]
                  };
                  mapboxgl.accessToken = token;
                  var map = new mapboxgl.Map({
                    container: 'show-map',
                    style: 'mapbox://styles/mapbox/streets-v10',
                    center: [longitude, latitude], // starting position
                    zoom: 14 // starting zoom
                  });

                  // add markers to map
                  geojson.features.forEach(function(marker) {
                      // create a DOM element for the marker
                      var el = document.createElement('div');
                      el.className = 'marker';
                      el.style.width = marker.properties.iconSize[0] + 'px';
                      el.style.height = marker.properties.iconSize[1] + 'px';
                      // el.style.backgroundImage = markerImage + marker.properties.iconSize.join('/') + '/)';
                      // add marker to map
                      new mapboxgl.Marker(el)
                          .setLngLat(marker.geometry.coordinates)
                          .addTo(map);
                  });

                  // Add zoom and rotation controls to the map.
                  map.addControl(new mapboxgl.NavigationControl());
                </script>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="sidebar-container-right">
          <% if @price.present? %>
            <h4>Book your stay</h4>
            <div class="sidebar-content">
              <h5>Arrival date</h5>
              <p><%= @start_date.strftime("%A %e %b, %Y") %></p>
            </div>
            <div class="sidebar-content">
              <h5>Departure date</h5>
              <p><%= @end_date.strftime("%A %e %b, %Y") %></p>
            </div>
            <h5>Price</h5>
            <p><strong>£<%= @price %></strong> for <%= @days %> nights</p>
            <%= link_to @book_link, target: :_blank do %>
              <div class="btn btn-success" style="margin-bottom: 10px">BOOK NOW</div>
            <% end %>
          <% elsif @message.present? %>
            <h4>Check Availability & Book</h4>
            <p><%= @message %></p>
            <% code = @property.code %>
            <div id="supercontrol-availability">
              <script type="text/javascript" src="//secure.supercontrol.co.uk/avail_ajax/js/load.js?ownerID=946&siteID=10714&cottageID=<%= code %>"></script>
            </div>
          <% else %>
            <h4>Check Availability & Book</h4>
            <% code = @property.code %>
            <div id="supercontrol-availability">
              <script type="text/javascript" src="//secure.supercontrol.co.uk/avail_ajax/js/load.js?ownerID=946&siteID=10714&cottageID=<%= code %>"></script>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
