<% content_for :meta_title, @property.meta_title %>
<% content_for :meta_description, @property.meta_description %>
<% if @property.main_image.attached? %>
  <% content_for :meta_image, rails_representation_url(@property.main_image_meta_variant) %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="grey-header-text">
        <h1><%= @property.name %></h1>
        <p><%= @property.headline %></p>
        <% if mobile_device? %>
          <a href="#scroll-content"><div class="btn btn-default" style="margin: 0 0 15px 0px">BOOK NOW</div><span></span></a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="color-background">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <!-- Container for the image gallery -->
        <div class="gallery-container">

          <!-- Full-width images with number text -->
          <div class="mySlides">
            <% if @property.main_image.attached? %>
              <%= image_tag(@property.main_image_show_variant, class: 'img-responsive') %>
            <% end %>
          </div>

          <% @property.photos.with_attached_picture.order(created_at: :asc).each do |photo| %>
            <% if photo.picture.attached? %>
              <div class="mySlides">
                <%= image_tag(photo.picture_show_variant, class: 'img-responsive') %>
              </div>
            <% end %>
          <% end %>

          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <div class="gallery-row">
          <div class="gallery-column">
            <% if @property.main_image.attached? %>
              <%= image_tag(@property.main_image_thumbnail_variant, class: "demo cursor", onclick:"currentSlide(1)") %>
            <% end %>
          </div>
          <% i = 2 %>
          <% @property.photos.with_attached_picture.order(created_at: :asc).each do |photo| %>
            <div class="gallery-column">
              <%= image_tag(photo.picture_thumbnail_variant, class: "demo cursor", onclick:"currentSlide(#{i})") %>
            </div>
            <% i += 1 %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <div class="gallery-reviews">
          <p><strong>What we love about <%= @property.name %></strong></p>
          <p><em>"<%= @property.we_love %>"</em></p>
          <% if @property.guests_love? %>
            <br>
            <p><strong>What our guests love about <%= @property.name %></strong></p>
            <p><em>"<%= @property.guests_love %>"</em></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <!-- <div class="main-container"> -->
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="content-container">
        <!-- Nav tabs -->
          <ul class="nav nav-pills nav-green nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab"><strong>Features</strong></a></li>
            <li role="presentation"><a href="#description" aria-controls="description" role="tab" data-toggle="tab"><strong>Description</strong></a></li>
            <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab"><strong>Reviews</strong></a></li>
            <li id="map-tab" role="presentation"><a href="#map" aria-controls="map" role="tab" data-toggle="tab"><strong>Map</strong></a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-spacing">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane tab-padding fade in active" id="features">
                <div class="row">
                  <% @property.features.where(key: true).each do |feature| %>
                    <div class="col-xs-12 col-sm-6">
                      <p><%= fa_icon "caret-right" %> <strong><%= feature.name %></strong></p>
                    </div>
                  <% end %>
                </div>
                <hr class="gray-hr" style="margin: 0px 0px 10px 0px;">
                <div class="row">
                  <% @property.features.where(key: false).each do |feature| %>
                    <div class="col-xs-12 col-sm-6">
                      <p><%= fa_icon "caret-right" %> <%= feature.name %></p>
                    </div>
                  <% end %>
                </div>
                <% if @property.floorplan_image.attached? %>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="btn btn-success floorplan-button">LODGE FLOORPLAN</div>
                    </div>
                  </div>
                <% end %>
                <% if @property.video_iframe.present? %>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="btn btn-success video-button">DRONE VIDEO TOUR</div>
                    </div>
                  </div>
                <% end %>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="description">
                <p><%= simple_format(@property.description) %></p>
              </div>
              <div role="tabpanel" class="tab-pane tab-padding fade" id="reviews">
                <% if @property.reviews.empty? %>
                  <p><%= @property.name %> is so new to the site it's not been reviewed by any guests yet.</p>
                  <p>See reviews for all our other lodges <%= link_to 'here', pages_reviews_path, target: :_blank, class: "green-link" %>.</p>
                <% else %>
                  <% @property.reviews.each do |review| %>
                    <p><em>"<%= review.content %>"</em> <%= review.date %></p>
                  <% end %>
                <% end %>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="map">
                <div id='show-map'></div>
              </div>
            </div>
          </div>
        </div>
        <% if @property.tour_iframe.present? %>
          <div class="content-container">
            <%= sanitize @property.tour_iframe, tags: %w(iframe), attributes: %w(height width frameborder src allowfullscreen allow) %>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4" id="properties-sidebar">
        <section id="scroll-content">
            <% if @price.present? %>
              <div class="green-header sidebar-header-height vertical-align">
                <h4>Book your stay</h4>
              </div>
              <div class="sidebar-container-right">
                <div class="sidebar-content">
                  <h5>Arrival date</h5>
                  <p><%= @start_date.strftime("%A %e %b, %Y") %></p>
                </div>
                <div class="sidebar-content">
                  <h5>Departure date</h5>
                  <p><%= @end_date.strftime("%A %e %b, %Y") %></p>
                </div>
                <h5>Price</h5>
                <p><strong>£<%= @price %></strong> for <%= @days %> nights</p>
                <%= link_to @book_link, target: :_blank do %>
                  <div class="btn btn-success" style="margin-bottom: 10px">BOOK NOW</div>
                <% end %>
              </div>
            <% elsif @message.present? %>
              <div class="green-header sidebar-header-height vertical-align">
                <p><%= @message %></p>
              </div>
              <div id="supercontrol-availability" class="sidebar-container-right-super">
                <div data-calendar-key="91A0A61660F11E80F00E24956B9C879E8C22B9B2D6C54A8906E956C8AEC873AA42DB54FF56301ABB76891A82B0241B9671A0F70692B5FC30" data-calendar-widescreen-months="1" data-calendar-property-id="<%= @property.code %>"> Your widget will appear here. </div> <script src="https://secure.supercontrol.co.uk/components/embed.js"></script>
              </div>
            <% else %>
              <div id="supercontrol-availability" class="sidebar-container-right-super">
                <div data-calendar-key="91A0A61660F11E80F00E24956B9C879E8C22B9B2D6C54A8906E956C8AEC873AA42DB54FF56301ABB76891A82B0241B9671A0F70692B5FC30" data-calendar-widescreen-months="1" data-calendar-property-id="<%= @property.code %>"> Your widget will appear here. </div> <script src="https://secure.supercontrol.co.uk/components/embed.js"></script>
              </div>
            <% end %>
          </div>
        </section>
      </div>
    </div>
  <!-- </div> -->
</div>
<div id="map-overlay">
  <div class="floorplan-container">
    <div class="floorplan">
      <% if @property.floorplan_image.attached? %>
        <%= image_tag @property.floorplan_image %>
      <% end %>
    </div>
    <button class="floorplan-close text-right" onclick="off()"><%= fa_icon "times" %></button>
  </div>
</div>
<% if @property.video_iframe.present? %>
  <div id="video-overlay">
    <div class="video-container">
      <%= sanitize @property.video_iframe, tags: %w(iframe), attributes: %w(height width frameborder src allowfullscreen) %>
      <button class="floorplan-close text-right" onclick="off()"><%= fa_icon "times" %></button>
    </div>
  </div>
<% end %>
<script>
  $( ".floorplan-button" ).click(function() {
    $( "#map-overlay" ).fadeIn( "slow", function() {
    });
  });
  function off() {
      document.getElementById("map-overlay").style.display = "none";
  }
  $( ".video-button" ).click(function() {
    $( "#video-overlay" ).fadeIn( "slow", function() {
    });
  });
  function off() {
      document.getElementById("video-overlay").style.display = "none";
  }
</script>
<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>
<script>

  $( "#map-tab" ).click(function() {
    setTimeout(resizeMap, 200);
  });
  function resizeMap() {
      map.resize();
      // Animation complete
  }
  var token = "<%= ENV["MAPBOX"] %>";
  var longitude = "<%= @property.longitude %>";
  var latitude = "<%= @property.latitude %>";
  var geojson = {
      "type": "FeatureCollection",
      "features": [
          {
              "type": "Feature",
              "properties": {
                  "iconSize": [45, 45]
              },
              "geometry": {
                  "type": "Point",
                  "coordinates": [
                      longitude,
                      latitude
                  ]
              }
          }
      ]
  };
  mapboxgl.accessToken = token;
  var map = new mapboxgl.Map({
    container: 'show-map',
    style: 'mapbox://styles/mapbox/streets-v10',
    center: [longitude, latitude], // starting position
    zoom: 14 // starting zoom
  });

  // add markers to map
  geojson.features.forEach(function(marker) {
      // create a DOM element for the marker
      var el = document.createElement('div');
      el.className = 'static-marker';
      el.style.width = marker.properties.iconSize[0] + 'px';
      el.style.height = marker.properties.iconSize[1] + 'px';
      el.style.marginTop = -(marker.properties.iconSize[1]/3) + 'px';
      // el.style.backgroundImage = markerImage + marker.properties.iconSize.join('/') + '/)';
      // add marker to map
      new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
          .addTo(map);
  });

  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl());
</script>
