<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
<% content_for :meta_title, "#{@property.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @property.description %>
<% if @property.hero_image? %>
  <% content_for :meta_image, cl_image_path(@property.hero_image, height: 630, width: 1200, crop: :fill) %>
<% end %>

<div class="container">
  <div class="grey-header-text">
    <h1><%= @property.name %></h1>
    <p><%= @property.headline %></p>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <!-- Container for the image gallery -->
      <div class="gallery-container">

        <!-- Full-width images with number text -->
        <div class="mySlides">
          <% if @property.hero_image? %>
            <%= cl_image_tag(@property.hero_image, style:"width: 100%")%>

          <% else %>
            <%= image_tag(("cedar-lodge.jpg"), style:"width: 100%") %>
          <% end %>
        </div>

        <% unless @property.photos.blank? %>
          <% @property.photos.each do |photo| %>
            <% unless photo.image.blank? %>
              <div class="mySlides">
                <%= cl_image_tag(photo.image, style:"width: 100%") %>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Thumbnail images -->
        <div class="gallery-row">
          <div class="gallery-column">
            <% if @property.hero_image? %>
              <%= cl_image_tag(@property.hero_image, style:"width: 100%", class: "demo cursor", onclick:"currentSlide(1)")%>
            <% else %>
              <%= image_tag(("cedar-lodge.jpg"), crop: :fill, style:"width: 100%", class: "demo cursor", onclick:"currentSlide(1)") %>
            <% end %>
          </div>
          <% unless @property.photos.blank? %>
            <% i = 2 %>
            <% @property.photos.each do |photo| %>
              <% unless photo.image.blank? %>
                <div class="gallery-column">
                  <%= cl_image_tag(photo.image, style:"width: 100%", crop: :fill, class: "demo cursor", onclick:"currentSlide(#{i})") %>
                </div>
              <% i += 1 %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="gallery-reviews">
        <h4 class="text-center">What we love about <%= @property.name %></h4>
        <p class="text-center"><em>"<%= @property.we_love %>"</em></p>
        <br>
        <h4 class="text-center">What our guests love about <%= @property.name %></h4>
        <p class="text-center"><em>"<%= @property.guests_love %>"</em></p>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <!-- <div class="main-container"> -->
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="content-container">
        <!-- Nav tabs -->
          <ul class="nav nav-pills nav-green nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab">Features</a></li>
            <li role="presentation"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
            <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
            <li role="presentation"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-spacing">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane tab-padding fade in active" id="features">
                <ul>
                  <% @property.features.each do |feature| %>
                    <li><%= feature %></li>
                  <% end %>
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="description">
                <p><%= simple_format(@property.description) %></p>
              </div>
              <div role="tabpanel" class="tab-pane tab-padding fade" id="reviews">
                <% @property.reviews.each do |review| %>
                  <p>"<%= review.content %>"</p>
                <% end %>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="map">
                <div id='show-map'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4" id="properties-sidebar">
        <div class="sidebar-container-right">
          <% if @price.present? %>
            <h4>Book your stay</h4>
            <div class="sidebar-content">
              <h5>Arrival date</h5>
              <p><%= @start_date.strftime("%A %e %b, %Y") %></p>
            </div>
            <div class="sidebar-content">
              <h5>Departure date</h5>
              <p><%= @end_date.strftime("%A %e %b, %Y") %></p>
            </div>
            <h5>Price</h5>
            <p><strong>£<%= @price %></strong> for <%= @days %> nights</p>
            <%= link_to @book_link, target: :_blank do %>
              <div class="btn btn-success" style="margin-bottom: 10px">BOOK NOW</div>
            <% end %>
          <% elsif @message.present? %>
            <h4>Check Availability & Book</h4>
            <p><%= @message %></p>
            <% code = @property.code %>
            <div id="supercontrol-availability">
              <script type="text/javascript" src="//secure.supercontrol.co.uk/avail_ajax/js/load.js?ownerID=946&siteID=10714&cottageID=<%= code %>"></script>
            </div>
          <% else %>
            <h4>Check Availability & Book</h4>
            <% code = @property.code %>
            <div id="supercontrol-availability">
              <script type="text/javascript" src="//secure.supercontrol.co.uk/avail_ajax/js/load.js?ownerID=946&siteID=10714&cottageID=<%= code %>"></script>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>
<script>
  // $( "#map" ).click(function() {
  //   $( "#show-map" ).delay(200)(function() {
  //     map.resize();
  //     // Animation complete
  //   })
  // });
  // $( "#map" ).click(function() {
  //   map.resize();
  // });
  // $('.nav-tabs a:last').click(function(){
  //   $(this).tab('show')(function() {
  //     map.resize();
  //   });
  // });
  var token = "<%= ENV["MAPBOX"] %>";
  var longitude = "<%= @property.longitude %>";
  var latitude = "<%= @property.latitude %>";
  var markerImage = "<%= image_url("marker-15.svg") %>";
  console.log(markerImage);
  var geojson = {
      "type": "FeatureCollection",
      "features": [
          {
              "type": "Feature",
              "properties": {
                  "iconSize": [30, 30]
              },
              "geometry": {
                  "type": "Point",
                  "coordinates": [
                      longitude,
                      latitude
                  ]
              }
          }
      ]
  };
  mapboxgl.accessToken = token;
  var map = new mapboxgl.Map({
    container: 'show-map',
    style: 'mapbox://styles/mapbox/streets-v10',
    center: [longitude, latitude], // starting position
    zoom: 14 // starting zoom
  });

  // add markers to map
  geojson.features.forEach(function(marker) {
      // create a DOM element for the marker
      var el = document.createElement('div');
      el.className = 'marker';
      el.style.width = marker.properties.iconSize[0] + 'px';
      el.style.height = marker.properties.iconSize[1] + 'px';
      // el.style.backgroundImage = markerImage + marker.properties.iconSize.join('/') + '/)';
      // add marker to map
      new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
          .addTo(map);
  });

  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl());
</script>
