<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
<% content_for :meta_title, @property.meta_title %>
<% content_for :meta_description, @property.meta_description %>
<% if @property.hero_image? %>
  <% content_for :meta_image, cl_image_path(@property.hero_image, height: 630, width: 1200, crop: :fill) %>
<% end %>

<div class="container">
  <div class="grey-header-text">
    <h1><%= @property.name %></h1>
    <p><%= @property.headline %></p>
    <% if mobile_device? %>
      <a href="#scroll-content"><div class="btn btn-default" style="margin: 0 0 15px 0px">BOOK NOW</div><span></span></a>
    <% end %>
  </div>
  <div class="color-background">
    <div class="row vertical-align">
      <div class="col-xs-12 col-md-8">
        <!-- Container for the image gallery -->
        <div class="gallery-container">

          <!-- Full-width images with number text -->
          <div class="mySlides">
            <%= cl_image_tag(@property.hero_image, style:"width: 100%", height: 700, width: 1000, crop: :fill)%>
          </div>

          <% @property.photos.each do |photo| %>
            <% unless photo.image.blank? %>
              <div class="mySlides">
                <%= cl_image_tag(photo.image, style:"width: 100%", height: 700, width: 1000, crop: :fill) %>
              </div>
            <% end %>
          <% end %>

          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>

          <!-- Thumbnail images -->
          <div class="gallery-row">
            <div class="gallery-column">
              <%= cl_image_tag(@property.hero_image, height: 300, width: 300, crop: :fill, style:"width: 100%", class: "demo cursor", onclick:"currentSlide(1)")%>
            </div>
            <% i = 2 %>
            <% @property.photos.each do |photo| %>
              <div class="gallery-column">
                <%= cl_image_tag(photo.image, height: 300, width: 300, crop: :fill, style:"width: 100%", class: "demo cursor", onclick:"currentSlide(#{i})") %>
              </div>
              <% i += 1 %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="gallery-reviews">
          <h4 class="text-center">What we love about <%= @property.name %></h4>
          <p class="text-center"><em>"<%= @property.we_love %>"</em></p>
          <% if @property.guests_love? %>
            <br>
            <h4 class="text-center">What our guests love about <%= @property.name %></h4>
            <p class="text-center"><em>"<%= @property.guests_love %>"</em></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <!-- <div class="main-container"> -->
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="content-container">
        <!-- Nav tabs -->
          <ul class="nav nav-pills nav-green nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab">Features</a></li>
            <li role="presentation"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
            <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
            <li id="map-tab" role="presentation"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-spacing">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane tab-padding fade in active" id="features">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <% if @property.sauna %>
                      <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Sauna</strong></p>
                    <% end %>
                    <% if @property.hot_tub %>
                      <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Hot Tub</strong></p>
                    <% end %>
                    <% if @property.wood_stove %>
                      <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Wood Burner</strong></p>
                    <% end %>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <% if @property.games_room %>
                      <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Games Room</strong></p>
                    <% end %>
                    <% if @property.pet_friendly %>
                      <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Pet Friendly</strong></p>
                    <% end %>
                  </div>
                </div>
                <br>
                <% unless @property.features.empty? %>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">

                      <% a = @property.features.each_slice( (@property.features.size/2.0).round ).to_a %>
                      <% a.first.each do |feature| %>
                        <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= feature %></p>
                      <% end %>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <% a.last.each do |feature| %>
                        <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= feature %></p>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="description">
                <p><%= simple_format(@property.description) %></p>
              </div>
              <div role="tabpanel" class="tab-pane tab-padding fade" id="reviews">
                <% if @property.reviews.empty? %>
                  <p><%= @property.name %> is so new to the site it's not been reviewed by any guests yet.</p>
                  <p>See reviews for all our other lodges <%= link_to 'here', pages_reviews_path, target: :_blank, class: "green-link" %>.</p>
                <% else %>
                  <% @property.reviews.each do |review| %>
                    <p>"<%= review.content %>"</p>
                  <% end %>
                <% end %>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="map">
                <div id='show-map'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section id="scroll-content">
        <div class="col-xs-12 col-sm-4" id="properties-sidebar">
          <div class="green-header sidebar-header-height vertical-align">
            <h4>Book your stay</h4>
          </div>
          <div class="sidebar-container-right">
            <% if @price.present? %>
              <div class="sidebar-content">
                <h5>Arrival date</h5>
                <p><%= @start_date.strftime("%A %e %b, %Y") %></p>
              </div>
              <div class="sidebar-content">
                <h5>Departure date</h5>
                <p><%= @end_date.strftime("%A %e %b, %Y") %></p>
              </div>
              <h5>Price</h5>
              <p><strong>£<%= @price %></strong> for <%= @days %> nights</p>
              <%= link_to @book_link, target: :_blank do %>
                <div class="btn btn-success" style="margin-bottom: 10px">BOOK NOW</div>
              <% end %>
            <% elsif @message.present? %>
              <p><%= @message %></p>
              <% code = @property.code %>
              <div id="supercontrol-availability">
                <script type="text/javascript" src="//secure.supercontrol.co.uk/avail_ajax/js/load.js?ownerID=946&siteID=10714&cottageID=<%= code %>"></script>
              </div>
            <% else %>
              <% code = @property.code %>
              <div id="supercontrol-availability">
                <script type="text/javascript" src="//secure.supercontrol.co.uk/avail_ajax/js/load.js?ownerID=946&siteID=10714&cottageID=<%= code %>"></script>
              </div>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  <!-- </div> -->
</div>
<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>
<script>

  $( "#map-tab" ).click(function() {
    setTimeout(resizeMap, 200);
  });
  function resizeMap() {
      map.resize();
      // Animation complete
  }
  var token = "<%= ENV["MAPBOX"] %>";
  var longitude = "<%= @property.longitude %>";
  var latitude = "<%= @property.latitude %>";
  var geojson = {
      "type": "FeatureCollection",
      "features": [
          {
              "type": "Feature",
              "properties": {
                  "iconSize": [45, 45]
              },
              "geometry": {
                  "type": "Point",
                  "coordinates": [
                      longitude,
                      latitude
                  ]
              }
          }
      ]
  };
  mapboxgl.accessToken = token;
  var map = new mapboxgl.Map({
    container: 'show-map',
    style: 'mapbox://styles/mapbox/streets-v10',
    center: [longitude, latitude], // starting position
    zoom: 14 // starting zoom
  });

  // add markers to map
  geojson.features.forEach(function(marker) {
      // create a DOM element for the marker
      var el = document.createElement('div');
      el.className = 'marker';
      el.style.width = marker.properties.iconSize[0] + 'px';
      el.style.height = marker.properties.iconSize[1] + 'px';
      // el.style.backgroundImage = markerImage + marker.properties.iconSize.join('/') + '/)';
      // add marker to map
      new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
          .addTo(map);
  });

  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl());
</script>
