<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
<div id="handpicked-navbar">
  <!-- <div id="handpicked-navbar-spacer"> -->
    <!-- Logo -->


    <!-- Right navigation - desktop -->
    <div class="handpicked-navbar-center hidden-xs hidden-sm">
      <%= link_to root_path, id: "handpicked-navbar-brand" do %>
        <%= image_tag "seasgair-logo.jpg" %>
      <% end %>
      <div class="handpicked-navbar-right hidden-xs hidden-sm">
        <div class="handpicked-navbar-item"><%= link_to 'Our Lodges', properties_path, { :class=>"handpicked-navbar-link" } %></div>
        <div class="handpicked-navbar-item"><%= link_to 'Seasgair Community', pages_sustainability_path, { :class=>"handpicked-navbar-link" } %></div>
        <div class="handpicked-navbar-item"><%= link_to 'About Us', pages_about_us_path, { :class=>"handpicked-navbar-link" } %></div>
        <div class="handpicked-navbar-item"><%= link_to 'Own a Property', pages_own_a_property_path, { :class=>"handpicked-navbar-link" } %></div>
        <div class="handpicked-navbar-item"><%= link_to 'Contact', pages_contact_path, { :class=>"handpicked-navbar-link" } %></div>
      </div>
    </div>
  <!-- </div> -->

  <!-- Dropdown for mobile only -->
  <div class="hidden-md hidden-lg">
    <%= link_to root_path, id: "handpicked-navbar-brand-small" do %>
      <%= image_tag "seasgair-logo.jpg" %>
    <% end %>
  </div>
  <div class="handpicked-navbar-item-mobile hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul id="main-dropdown" class="dropdown-menu dropdown-menu-right handpicked-navbar-dropdown-menu text-center">
        <li><%= link_to 'Our Lodges', properties_path, tabindex:"-1" %></li>
        <li><%= link_to 'Seasgair Community', pages_sustainability_path, tabindex:"-1" %></li>
        <li><%= link_to 'About Us', pages_about_us_path, tabindex:"-1" %></li>
        <li><%= link_to 'Own a Property', pages_own_a_property_path, tabindex:"-1" %></li>
        <li><%= link_to 'Contact', pages_contact_path, tabindex:"-1" %></li>
      </ul>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
