<% content_for :meta_title, "Eat - Drink- Play - Relax - Shop in the Cairngorms" %>
<% content_for :meta_description, "Things to do in Aviemore and the Cairngorms" %>
<div class="show-banner-cloudinary" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('about-the-area.jpg') %>');">
  <div class="header-text">
    <h1>Eat - Drink - Play - Relax - Shop</h1>
    <h4>Things to do in Aviemore and the Cairngorms</h4>
  </div>
</div>
<div class="container">
  <div class="row vertical-align">
    <div class="col-xs-12 col-md-6">
      <div class="white-card">
        <h4 class="text-center">The Cairngorms National Park is one of the top 20 places to visit in the world, according to National Geographic Magazine.</h4>
        <p>It is the UK's largest national park and the largest area of arctic mountain landscape in the UK, providing a home to 25% of the country's endangered species, four of Scotland's highest mountains and Britain's favourite picnic spot so there really is something for everyone here.</p>
        <p>Whether you are hoping to escape and relax, thrill seeking or simply want a fun family holiday, the Cairngorms and Aviemore are the place to be.</p>
        <p>Here are just a few of our favourite places to eat and things to do, to give you a taster of what there is on offer.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <!-- Container for the image gallery -->
      <div class="gallery-container">

        <!-- Full-width images with number text -->
        <div class="mySlides">
          <%= image_tag('about-the-area-3.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-4.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-5.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-6.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-7.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-9.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-11.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-13.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-14.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-15.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-17.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-18.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-20.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-21.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-22.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-23.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-24.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-25.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-26.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-27.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-28.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-29.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-30-small.jpg', style:"width: 100%") %>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev sm" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next sm" onclick="plusSlides(1)">&#10095;</a>

        <!-- Thumbnail images -->
        <div class="gallery-row-sm">
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-3.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(1)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-4.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(2)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-5.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(3)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-6.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(4)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-7.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(5)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-9.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(6)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-11.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(7)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-13.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(8)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-14.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(9)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-15.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(10)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-17.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(11)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-18.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(12)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-20.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(13)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-21.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(14)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-22.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(15)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-23.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(16)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-24.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(17)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-25.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(18)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-26.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(19)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-27.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(20)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-28.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(21)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-29.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(22)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('about-the-area-30-small.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(23)") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Eating and Drinking</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Andersons Restaurant, Boat of Garten</strong></h5>
      </div>
      <div class="white-card">
        <p>This relaxed and informal bistro style restaurant (recommended by Nick Nairn) is committed to using local Scottish produce when it is in season, which means their menu changes each month, as do their daily specials. In peak season booking is essential and be aware that they are sometimes closed on Tuesdays.</p>
      </div>
      <div class="green-header">
        <h5><strong>Ben Macduis Inn, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>A fun bar/restaurant day and night. Serving real local ales and a range of meals and snacks. Great value for money and very large portions! They welcome dogs.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Cairngorm Hotel, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>“The Cairn” serves food from 7.30am-9.30pm every day either in the coffee shop, bar or restaurant. Live music on some Thursday evenings in the traditional bar. Hot Highland Buffet every Thursday, traditional Sunday lunches.</p>
      </div>
      <div class="green-header">
        <h5><strong>Garth Hotel Restaurant, Grantown-on-Spey</strong></h5>
      </div>
      <div class="white-card">
        <p>A lovely traditional hotel with a great home-cooked Scottish menu.</p>
      </div>
      <div class="green-header">
        <h5><strong>Glenmore Lodge, Glenmore</strong></h5>
      </div>
      <div class="white-card">
        <p>The friendly Lochain bar and grill at Glenmore Lodge, (Scotland’s national outdoor training centre) welcomes non-residents. The bar is open daily from 5pm until late and food is served until 7pm (Monday, Tuesday) and until 9pm from Wednesday to Sunday. You can also enjoy drinks outside on the terrace with great views of the mountains.</p>
      </div>
      <div class="green-header">
        <h5><strong>La Taverna, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>This ever popular family-run Italian in Aviemore puts on a great value value buffet every night, as well as pizza and pasta dishes a la carte.</p>
      </div>
      <div class="green-header">
        <h5><strong>Letterbox Restaurant, Newtonmore</strong></h5>
      </div>
      <div class="white-card">
        <p>A small family run restaurant serving locally sourced fresh scottish produce. Evening meals (including vegetarian/vegan menu) available Monday to Sunday, 4.30pm to 10.30pm.</p>
      </div>
      <div class="green-header">
        <h5><strong>Muckrach Country House Hotel, Dulnain Bridge</strong></h5>
      </div>
      <div class="white-card">
        <p>A stunning example of a Victorian shooting lodge that underwent a total renovation and now offers a stylish brasserie-style restaurant which serves simple, stylish and delicious dishes made using local ingredients sourced from the Scottish Highlands. Muckrach prides itself in giving every guest a memorable experience. They also have a lovely bar for pre or post-dinner drinks. Booking is recommended.</p>
      </div>
      <div class="green-header">
        <h5><strong>Royal Tandoori, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>Indian food to sit in or take away, as well as a separate function room for large groups and a children’s menu.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Skiing Doo, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>Fun and friendly restaurant with huge portions - steaks, burgers and the like - open noon until 9pm. The Doo Below is situated underneath the restaurant too, great for apres ski and open till 11pm.</p>
      </div>
      <div class="green-header">
        <h5><strong>​The Boat Country Inn and Restaurant, Boat of Garten</strong></h5>
      </div>
      <div class="white-card">
        <p>Offering a casual and hearty seasonal pub-style menu with their own take on classic dishes and speciality nights throughout the week. The cosy bar offers an extensive selection of over 50 whiskies and variety of gin. Dogs are welcome too!</p>
      </div>
      <div class="green-header">
        <h5><strong>The Cairn Hotel, Carrbridge</strong></h5>
      </div>
      <div class="white-card">
        <p>You can enjoy a country pub atmosphere with a real log fire on a chilly day or outdoor seating on a sunny day. They serve great pub lunches and suppers, always with some friendly banter and maybe some real ale or a wee dram.</p>
      </div>
      <div class="green-header">
        <h5><strong>​The Craigellachie Speyside, Craigellachie</strong></h5>
      </div>
      <div class="white-card">
        <p>A 40-minute drive north on the A95 from Nethy Bridge, this stylish small hotel is the perfect spot for a relaxed lunch or dinner. The Copper Dog pub downstairs serves quality local fare, with live music on summer evenings, and the Quaich bar is home to more than 900 whiskies!</p>
      </div>
      <div class="green-header">
        <h5><strong>​​The Cross, Kingussie</strong></h5>
      </div>
      <div class="white-card">
        <p>This exclusive restaurant offers a three-course menu with several choices for each course or you can select their six-course signature tasting menu. Both menus change regularly and are designed around the best of the seasonal produce which they source as much as possible from Scotland’s wonderful larder. The Cross is the perfect setting to celebrate a special occasion or simply an opportunity to sample some delicious local cuisine. It’s essential to book so that you don’t miss out!</p>
      </div>
      <div class="green-header">
        <h5><strong>​The Old Bridge Inn, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>This cosy, candle-lit restaurant sits on the banks of the River Spey. Working closely with local farmers and suppliers, they keep the menu as full of local produce as possible. They also have a cosy bar area where you can eat and drink in front of the open fire with regular live music, and dogs are welcome too! This is a popular venue for both locals and tourists so we recommend that you book.</p>
      </div>
      <div class="green-header">
        <h5><strong>​The Rowan Tree Country Hotel, Kincraig</strong></h5>
      </div>
      <div class="white-card">
        <p>This is a relaxed and very good restaurant serving the freshest, principally Scottish ingredients. Meals are served daily between 5.30 and 8.30pm.</p>
      </div>
      <div class="green-header">
        <h5><strong>​The Wee Puffin Restaurant, Grantown-on-Spey</strong></h5>
      </div>
      <div class="white-card">
        <p>A relaxed restaurant in Grantown where you won’t leave hungry!</p>
      </div>
      <div class="green-header">
        <h5><strong>​The Winking Owl, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>This lovely gastro pub is owned by the Cairngorm Brewery and has an impressive selection of real ales to go along with its hearty menu. A kids menu is available too.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Cafés</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Carrbridge Kitchen, Carrbridge</strong></h5>
      </div>
      <div class="white-card">
        <p>The Carrbridge Kitchen is a fantastic Scottish fusion café/restaurant serving delicious breakfasts, lunches, and of course, coffee and cake. Over the summer months, it is also open some evenings for dinner but do check before you go. Great, friendly service and beautifully presented, with a wood-burning stove to warm you up on chillier days.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Cobbs Café, Glenmore Visitor Centre</strong></h5>
      </div>
      <div class="white-card">
        <p>Open daily from 9.30/10am until 3/3.30pm (4pm Saturday and Sunday). Where you can buy hot and cold food and drinks, snacks, ice-cream as well as some small gifts.</p>
      </div>
      <div class="green-header">
        <h5><strong>High St. Merchants, Grantown-on-Spey</strong></h5>
      </div>
      <div class="white-card">
        <p>This gem of a café and gallery is a firm favourite with local and visitors alike. Pop in for a delicious scone, tasty lunch or pint of Two Thirsty Men beer (brewed right next door!). Also open for dinner on Friday and Saturday evenings.</p>
      </div>
      <div class="green-header">
        <h5><strong>Just Delicious, Grantown-on-Spey</strong></h5>
      </div>
      <div class="white-card">
        <p>This friendly family-run café and deli serves a great selection of freshly-made soups, sandwiches, panini, jacket potatoes, salad bowls and home-baking in comfortable surroundings. Takeaway also available.</p>
      </div>
      <div class="green-header">
        <h5><strong>Nethy House Café, Nethy Bridge</strong></h5>
      </div>
      <div class="white-card">
        <p>A delightful little café with home-cooked food and fantastic coffee as well as friendly service, in the heart of Nethy Bridge. You can also buy local craft and photography, and dogs are welcome. Open 10am-5pm every day except Wednesday.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>​​Red Squirrel Café, Glenmore</strong></h5>
      </div>
      <div class="white-card">
        <p>Lovely homemade bakes and squirrel watching from the window.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​Route 7, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>Route 7 is a great place for breakfast, lunch or an afternoon snack, open 9am-4.30pm every day. They serve pizza from their wood-fired oven at weekends from 12-3pm. Look out for their pop up street food nights in the summer season. Being bike friendly, they have a free bike wash-down area and compressed air for your tyres!</p>
      </div>
      <div class="green-header">
        <h5><strong>​​The Druie, Rothiemurchus</strong></h5>
      </div>
      <div class="white-card">
        <p>This cosy and friendly café predominantly uses produce from the Rothiemurchus Estate. They have a lovely outdoor seating area which is perfect for sunny days (and dog friendly). They can also provide great packed lunches that you can order in advance.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​The Mountain Café, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>Owned by a passionate and incredibly talented kiwi chef, for many frequent visitors it’s almost impossible to visit the area without a breakfast or coffee and cake in the multi-award winning Mountain Café. You often need to wait for a table as they don’t take bookings but (unless you are starving) it is worth the wait.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​The Sugar Bowl, Kingussie</strong></h5>
      </div>
      <div class="white-card">
        <p>A lovely little coffee shop which also sells some great gifts. Breakfast, lunch, drinks and coffee are served every day other than Monday.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​The Wild Flour, Newtonmore</strong></h5>
      </div>
      <div class="white-card">
        <p>A lovely wee café that serves homemade treats in a relaxed atmosphere.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Play</h3>
      </div>
      <div class="green-header">
        <h4 class="text-center">Biking</h4>
      </div>
      <div class="white-card">
        <p>There are countless biking routes and trails all around the area, with new ones being created all the time, from family friendly routes to trails for the more adventurous. There’s also the Sustrans National Route 7 that passes through Kingussie, Aviemore and Carrbridge.For more information visit <a href="www.sustrans.org.uk" class="green-link", target="blank">www.sustrans.org.uk</a></p>
        <p>There’s also some fantastic trail centres in the area, described below.</p>
        <p>For bike hire and further information on the wealth of biking routes and trails in the area, get in touch with the following places:</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Basecamp Bikes, Grantown-on-spey</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="www.basecampmtb.com" class="green-link", target="blank">www.basecampmtb.com</a> or 01479 870050</p>
      </div>
      <div class="green-header">
        <h5><strong>Bothy Bikes, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="www.bothybikes.co.uk" class="green-link", target="blank">www.bothybikes.co.uk</a> or 01479 810111</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Mikes Bikes, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p><em>Also offer bike hire drop off and pick ups</em></p>
        <p><a href="www.aviemorebikes.co.uk" class="green-link", target="blank">www.aviemorebikes.co.uk</a> or 01479 810478</p>
      </div>
      <div class="green-header">
        <h5><strong>Ride Cairngorm, Boat of Garten</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="www.ridecairngorm.com" class="green-link", target="blank">www.ridecairngorm.com</a> or 01479 831729</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Glenlivet Bike Trails</strong></h5>
      </div>
      <div class="white-card">
        <p>Enjoy the purpose-built mountain bike trails at the heart of Glenlivet Estate, with not only fantastic fun-packed, flowing single track trail, but spectacular scenery and stunning views.</p>
        <p>The blue trail is a great introduction to cross country riding, while the red trail provides challenges for the experienced.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Laggan Wolftrax</strong></h5>
      </div>
      <div class="white-card">
        <p>Over 20 miles (35 km) of purpose-built trails wind through Laggan Forest, with superb views of the Monadhliath hills on the edge of the Cairngorms National Park.</p>
        <p>There are routes from an easy-going green trail to a black run that’s probably the most technical bit of single-track in Scotland. In the bike park you can ride big berms and tabletop jumps.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="green-header">
        <h4 class="text-center">Breweries and Distilleries</h4>
      </div>
      <div class="white-card">
        <p><strong>Balmenach Distillery, Cromdale</strong></p>
        <p><strong>Cairngorm Brewery, Aviemore</strong></p>
        <p><strong>Dalwhinnie Distillery</strong> (near A9 south of Newtonmore)</p>
        <p><strong>Two Thirsty Men brewery, Grantown-on-Spey</strong></p>
        <p><strong>Malt Whisky Trail</strong></p>
        <p><a href="www.maltwhiskytrail.com" class="green-link", target="blank">www.maltwhiskytrail.com</a> for details on visiting the Trail’s nine distilleries including Glenfiddich (Dufftown), The Glenlivet (near Tomintoul), and Cardhu (near Rothes)</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Anagach Woods</strong></h5>
      </div>
      <div class="white-card">
        <p>There are several lovely paths and tracks throughout <a href="http://www.anagachwoods.org.uk/" class="green-link", target="blank">Anagach Woods</a>, a beautiful pine forest in Grantown on Spey, great for walking and biking, popular for dog walking and perfect for a family picnic.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Cairngorm Mountain</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://www.cairngormmountain.org/" class="green-link", target="blank">Cairngorm Mountain</a> is Britains premier ski destination, funicular railway and Britain's highest restaurant. Perfect for snow sports, biking, walking, climbing and only 14 km from Aviemore. Kids love the ride on the funicular.</p>
      </div>
      <div class="green-header">
        <h5><strong>Landmark Forest Adventure Park</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://www.landmarkpark.co.uk/" class="green-link", target="blank">Landmark</a> in Carrbridge is fun for all the family offering everything from a roller coaster, high ropes, indoor and outdoor play areas to a new butterfly enclosure. They are event rides and attractions specically for toddlers.</p>
      </div>
      <div class="green-header">
        <h5><strong>Rothiemurchus Estate</strong></h5>
      </div>
      <div class="white-card">
        <p>A wide range of activities are on offer at the <a href="http://rothiemurchus.net/" class="green-link", target="blank">Rothiemurchus Estate</a>, including fishing, land rover tours, high ropes, shooting and gorge walking. The Visitor Centre will be able to give you all of the information and make all of the bookings that you need. Babies and toddlers really enjoy feeding the fish at the fishery and visiting all of the animals around the estate.</p>
      </div>
      <div class="green-header">
        <h5><strong>Loch Insh Outdoor Centre</strong></h5>
      </div>
      <div class="white-card">
        <p>A fantastic selection of water sports on <a href="http://www.lochinsh.com/" class="green-link", target="blank">Loch Insh</a> including lessons and full activity holidays. There are also two great play parks there for the little ones and lots of fun watching the ducks on the loch.</p>
      </div>
      <div class="green-header">
        <h5><strong>Highland Folk Museum</strong></h5>
      </div>
      <div class="white-card">
        <p>Have a wander back through the way we used to live at the <a href="https://www.highlifehighland.com/highlandfolkmuseum/" class="green-link", target="blank">Highland Folk Museum</a>. Perfect for kids of all ages. Educational and lots of fun. There is a great play park for the little ones here too.</p>
      </div>
      <div class="green-header">
        <h5><strong>Highland Wildlife Park</strong></h5>
      </div>
      <div class="white-card">
        <p>The <a href="http://www.highlandwildlifepark.org.uk/" class="green-link", target="blank">Highland Wildlife Park</a> is home to a huge selection of animals from sub-arctic climates including 3 polar bears and a wolf pack! You can enjoy a walk around the enclosures then get up close and personal with a drive around the safari park.</p>
      </div>
      <div class="green-header">
        <h5><strong>Craggan Outdoors</strong></h5>
      </div>
      <div class="white-card">
        <p>​<a href="http://www.cragganoutdoors.co.uk/" class="green-link", target="blank">Craggan Outdoors</a> offers a large variety of outdoor activities specialising in organised group activities including gorge walking, golf, shooting, high wires and team building activities.</p>
      </div>
      <div class="green-header">
        <h5><strong>Ballindalloch Castle</strong></h5>
      </div>
      <div class="white-card">
        <p>Open to the public from Easter to the end of September, <a href="http://www.ballindallochcastle.co.uk/" class="green-link", target="blank">Ballindalloch Castle</a> has all you need for a lovely family day out. Just a 30-minute drive north of Nethy Bridge, there you will find llamas, donkeys, a children’s playground complete with many ride-on tractors, a grass labyrinth, beautiful gardens perfect for hide-and-seek, a great cafe and even its own golf course!</p>
      </div>
      <div class="green-header">
        <h5><strong>Shinty</strong></h5>
      </div>
      <div class="white-card">
        <p>Shinty (or Camanachd in Gaelic) is played regularly at <a href="http://www.newtonmoreshinty.com/" class="green-link", target="blank">Newtonmore</a> and <a href="https://www.facebook.com/Kingussie-Camanachd-Club-468484826551863/" class="green-link", target="blank">Kingussie</a>. Games are held regularly on weekday evenings or at weekends and all spectators warmly welcome! It’s a fast paced and thrilling traditional Highland sport and is a huge part of the Highland culture particularly in these two villages, who are fierce shinty rivals! See their websites/facebook pages for match details.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Golf</strong></h5>
      </div>
      <div class="white-card">
        <p>Aviemore and the surrounding area is perfect for golfers with a huge selection of courses to choose from for all abilities. From the beautiful <a href="https://www.boatgolf.com/cms/" class="green-link", target="blank">Boat of Garten</a>, <a href="http://www.abernethygolfclub.com/" class="green-link", target="blank">Abernethy</a> and <a href="http://www.carrbridgegolf.co.uk/" class="green-link", target="blank">Carrbridge</a> courses to the impressive 18 hole <a href="http://www.macdonaldhotels.co.uk/our-hotels/macdonald-aviemore-resort/golf/" class="green-link", target="blank">Spey Valley Championship Course</a> now in the top 100 of UK golf courses.</p>
      </div>
      <div class="green-header">
        <h5><strong>Clan warfare</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://www.aviemorepaintball.com/" class="green-link", target="blank">Paint-balling</a> in the heart of Scotland's ancient pine forest.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​Full On Adventure</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://www.fullonadventure.co.uk/" class="green-link", target="blank">Full On Adventure</a> offers extreme adventure on the River Spey during the summer months, from paddle boarding and kayak touring to river tubing down the Spey!</p>
      </div>
      <div class="green-header">
        <h5><strong>​​G2 Outdoors</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://www.g2outdoor.co.uk/" class="green-link", target="blank">G2 Outdoors</a> offer thrill seeking adventure for all ages and abilities. From ski touring in the winter to white water rafting and gorge walking in the warmer months. G2 also run a zip park with over 2 km of lines zipping through the ancient forest.</p>
      </div>
      <div class="green-header">
        <h5><strong>Alvie Estate</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://www.alvie-estate.co.uk/" class="green-link", target="blank">Alvie Estate</a> is home to Clan Warfare and the Zip Park, this beautiful estate near Kincraig also offers clay shooting, highland pony trekking and gorge walking.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​​Blair Castle</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://www.blair-castle.co.uk/" class="green-link", target="blank">Blair Castle</a> is home to the UK's only private Army. Blair Castle and its garden is a stunning example of Scottish history.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​Cairngorm Reindeer Herd</strong></h5>
      </div>
      <div class="white-card">
        <p>Visit the UK's only wild <a href="http://www.cairngormreindeer.co.uk/" class="green-link", target="blank">Reindeer Herd</a> that roam Cairngorm Mountain. If you don't fancy a trek up the mountain there are always a few reindeer grazing at the visitors centre. Santa normally comes to visit at Christmas time too.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​Loch Garten Osprey Centre</strong></h5>
      </div>
      <div class="white-card">
        <p>​<a href="https://en.wikipedia.org/wiki/Loch_Garten" class="green-link", target="blank">Loch Garten</a> is the largest fresh water Highland loch and home to many Osprey and also Capercaillies, Red squirrels, Wood Peckers and many more. The Osprey Centre offer a fantastic facility to spot these rare and beautiful birds. The loch is also a wonderful place to walk and explore for all ages.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​Walking</strong></h5>
      </div>
      <div class="white-card">
        <p>There are endless options for walks across the Cairngorms National Park from low and easy loch walks to extremely strenuous hikes up Munros. A great place to look for and plan the right walk for you is <a href="https://www.walkhighlands.co.uk/" class="green-link", target="blank">Walk Highlands</a>.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​​Smarty Art</strong></h5>
      </div>
      <div class="white-card">
        <p>A great wet weather option, this friendly <a href="http://www.smartyart.co.uk/" class="green-link", target="blank">ceramic painting studio</a> conveniently located on the High Street in Grantown-on-Spey provides the opportunity to create your own souvenir of your Cairngorm holiday – or whatever you like! There is a wide selection of white ceramic ware for all ages to paint and enjoy.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​​Laggan Wolftrax</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="https://scotland.forestry.gov.uk/visit/laggan-wolftrax" class="green-link", target="blank">Laggan Wolftrax</a> has over 20 miles of purpose-built mountain bike trails, from easy greens up to extremely tricky blacks. Access trails wind upwards through the forest, rewarding you with stunning views at the top, as well as the fun of the descent! There’s a bike shop for sales and rentals, plus a friendly cafe, as well as hot showers in case you get just too muddy to get back into the car!</p>
      </div>
      <div class="green-header">
        <h5><strong>​​​Highland Horse Fun in Kingussie</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://www.highlandhorsefun.com/" class="green-link", target="blank">Highland Horse Fun</a> can organise pony treks of any duration from an hour up to a full day - an inspirational way to see the landscape at a leisurely pace on their lovely Highland ponies. If you are a more experienced rider, hacks are also possible.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Relax</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Loch Morlich</strong></h5>
      </div>
      <div class="white-card">
        <p>Loch Morlich is a beautiful loch surrounded by pine forest at the foot of Cairngorm Mountain with a stunning beach with cafe and water sports.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Loch an Eilein</strong></h5>
      </div>
      <div class="white-card">
        <p>Loch an Eilein was voted Britain's No.1 picnic spot and with its own castle ruin on a small island in the centre, this is not one to be missed.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Thai Lodge</strong></h5>
      </div>
      <div class="white-card">
        <p>Step away from it all and unwind the minute you walk through the doors of the <a href="http://www.letsrelax.co.uk/" class="green-link", target="blank">Thai Lodge</a>. Their full Thai massage is highly recommended but they also offer various other treatments.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Strathspey Steam Railway</strong></h5>
      </div>
      <div class="white-card">
        <p>Step back in time and admire the stunning scenery through the valley as you enjoy some local Scottish treats. There are special children's <a href="http://strathspeyrailway.co.uk/" class="green-link", target="blank">trains</a> with Santa and Peppa Pig visiting at certain times of the year.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Shop</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Macdonald Highland Hotel Shop</strong></h5>
      </div>
      <div class="white-card">
        <p>The shop at <a href="http://www.speyvalleyshopping.co.uk/store/" class="green-link", target="blank">'the centre'</a> sells luxurious and stylish Scottish products mixed with a large selection of high end merchandise and clothing.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Rothiemurchus Farm Shop</strong></h5>
      </div>
      <div class="white-card">
        <p>The <a href="http://rothiemurchus.net/food-drink/" class="green-link", target="blank">farm shop</a> on the estate sells a delicious selection of Scottish food products including fish, highland beef and venison from the estate.</p>
      </div>
      <div class="green-header">
        <h5><strong>Balliefurth Farm Shop</strong></h5>
      </div>
      <div class="white-card">
        <p>Balliefurth Farm Shop in Nethy Bridge is an award winning family run business selling the very finest in local meat, poultry and game.</p>
      </div>
      <div class="green-header">
        <h5><strong>Elephants in the Pantry</strong></h5>
      </div>
      <div class="white-card">
        <p>You will find <a href="https://www.elephantsinthepantry.co.uk/" class="green-link", target="blank">Elephants in the Pantry</a> on the main street in Grantown on Spey, it is a modern deli where you can choose from a great selection of food and drink including locally sourced products, fine wines, artisan spirits and homebaking.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Supermarkets</strong></h5>
      </div>
      <div class="white-card">
        <p>If it's convenience you are after there is a Tesco in the centre of Aviemore. Sainsburys, Asda and Tesco provide home delivery to most properties in the area too. </p>
      </div>
      <div class="green-header">
        <h5><strong>Deli Mair</strong></h5>
      </div>
      <div class="white-card">
        <p>A local <a href="http://delimairaviemore.co.uk/" class="green-link", target="blank">deli</a> in Aviemore with a deli counter, fresh bread, take-away coffee and a great selection of other local produce.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​Mikes Bikes</strong></h5>
      </div>
      <div class="white-card">
        <p>A family owned business with a <a href="http://www.aviemorebikes.co.uk/" class="green-link", target="blank">bike shop</a> in Aviemore, you can buy or hire bikes as well as all the best gear. They will even drop off and pick up bikes from your Handpicked Lodge.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​BaseCamp Bikes</strong></h5>
      </div>
      <div class="white-card">
        <p>Located in Grantown on Spey, <a href="http://www.basecampmtb.com/" class="green-link", target="blank">BaseCamp Bikes</a> is an ideal cycle shop to aim for for any help you need with your own bike or to hire a high quality bike, they offer a very helpful delivery service to your holiday home.</p>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/page-search' %>
<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>
