<% content_for :meta_title, "Who are the holiday home managers of Handpicked Lodges" %>
<% content_for :meta_description, "Handpicked, lodges, holiday , home, property, management, investment, returns, managing, agent, marketing" %>
<div class="show-banner-cloudinary" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('20-banner.jpg') %>'); background-position: 0% 37%;">
  <div class="header-text">
    <h1>About us</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pen-picture">
        <%= image_tag('t-101.jpg', class: "avatar") %>
        <div class="pen-picture-headings">
          <h3>Tanja</h3><p><strong>BA MSc MRICS</strong></p>
          <h4>Director</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>"My husband and I moved to Aviemore in 2010 to manage the growth and expansion of 15 holiday chalets and apartments in Aviemore. Where we have more than doubled turnover and profit and also designed and built 4 luxury lodges which now achieve over 90% occupancy. The experience and knowledge that I gained through this coupled with my prior experience working as a Chartered Surveyor in London made me passionate about taking these skills into a wider area.</p>

      <p>So in 2016, when I met Judith we realised that together our skill set could offer a great new way for both owners and guests to experience holiday homes in the Cairngorms.</p>

      <p>Our unique and hands-on approach has allowed our small business to grow quickly and achieve a higher than average occupancy, greater customer satisfaction, higher number of repeat guests and recommendations, and 5 star reviews across the board.</p>

      <p>Our ethos is simple; we want to show you the very best of what our Seasgair lodges and the Cairngorms has to offer time and time again."</p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="white-card" style="margin-bottom: 0px">
        <div class="text-center">
          <h4>My Favourite thing about Seasgair?</h4>
          <p><em>"Closing the door on a lodge after checking it, knowing that it looks beautiful for our guest's arrival....I only wish I could see their faces when they arrive!"</em></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <hr class="gray-hr">
      <div class="pen-picture">
        <%= image_tag('j-87.jpg', class: "avatar") %>
        <div class="pen-picture-headings">
          <h3>Judith</h3><p><strong>MA</strong></p>
          <h4>Director</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>"As a child I spent many wonderful holidays exploring the Cairngorms, so when the opportunity arose in 2011 to move from Edinburgh to Aviemore with my family, I jumped at the chance and have never looked back. When we first moved, I continued to run my training and coaching consultancy, working with several local and national businesses in supporting the development of customer service and management skills within their teams.</p>
      <p>I have always had a very keen interest in property, particularly holiday homes - coupled with my passion for customer care and running my own business, this meant that Seasgair was the perfect next step for me.</p>
      <p>Tanja and I have a very similar ethos and values which have resulted in the rapid and consistent success of our business. We are dedicated to providing our guests with an outstanding level of service from their first enquiry right through to the end of their stay and we pay attention to every little detail to ensure that their expectations are exceeded every time.</p>
      <p>We’re delighted that we now have such beautiful and unique properties in our collection and we have a very talented team who support us in consistently delighting our guests and owners and improving our service offering all the time.”</p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="white-card text-center" style="margin-bottom: 0px">
        <h4>My Favourite thing about Seasgair?</h4>
        <p><em>“The wonderful feedback from our guests and owners – it makes all the hard work worthwhile!”</em></p>
      </div>
    </div>
    <div class="col-xs-12">
      <hr class="gray-hr">
      <div class="pen-picture">
        <%= image_tag('c-26.jpg', class: "avatar") %>
        <div class="pen-picture-headings">
          <h3>Clare</h3>
          <h4>Head of Operations</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>"Having lived in Edinburgh for 16 years, and being a regular visitor to the Cairngorms National Park with my husband (and then young son), we were always promising ourselves we would move here one day. And then in 2014 sitting in the sunshine at Loch Morlich beach at the end of our summer holiday, we decided that this was our time to take the plunge, and finally relocated to live in Aviemore just 4 months later.</p>
      <p>In May 2018 I joined the team at Seasgair as Operations Manager, bringing with me over 10 years experience in the Scottish tourism industry working for Historic Scotland, and numerous other customer focused roles.</p>
      <p>There is so much to fall in love with in our beautiful National Park, whether it’s the scenery, wildlife, endless list of fun activities or just escaping the busyness of life and enjoying the peace and quiet.</p>
      <p>I am always delighted to share my knowledge about this wonderful area and I am passionate about providing a service to our customers that exceeds their expectations for a truly memorable holiday."</p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="white-card text-center" style="margin-bottom: 0px">
        <h4>My Favourite thing about Seasgair?</h4>
        <p><em>"Knowing that our customers will leave with wonderful memories of their holiday, having experienced a stay in one of our unique properties."</em></p>
      </div>
    </div>
    <div class="col-xs-12">
      <hr class="gray-hr">
      <div class="pen-picture">
        <%= image_tag('toni-55.jpg', class: "avatar") %>
        <div class="pen-picture-headings">
          <h3>Toni</h3><p><strong>Dip MS, MBA</strong></p>
          <h4>Operations Manager</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>"Having held a variety of Business Development and Relationship Management roles, most recently within financial services, I'm absolutely delighted to join the Seasgair team as Operations Manager.</p>
      <p>As a frequent visitor to Aviemore for the past 20 years for weekends and holidays to visit relatives and catch up with friends, it was always the intention to move up permanently. The opportunity finally came last year, which has been incredible.</p>
      <p>I adore the area, fully enjoying the outdoor lifestyle - running, ski touring and cycling in the most wonderful natural environment."</p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="white-card text-center" style="margin-bottom: 0px">
        <h4>My Favourite thing about Seasgair?</h4>
        <p><em>"The buzz, anticipation and wow factor as you enter each of the distinctly individual properties, all of which adds to the fantastic guest experience."</em></p>
      </div>
      <br>
    </div>
  </div>
</div>
<%= render 'shared/page-search' %>
