<% content_for :meta_title, "Who are the holiday home managers of Handpicked Lodges" %>
<% content_for :meta_description, "Handpicked, lodges, holiday , home, property, management, investment, returns, managing, agent, marketing" %>
<div class="banner">
  <div class="header-text">
    <h1>About us</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pen-picture">
        <%= image_tag('portraits.jpg', class: "avatar") %>
        <div class="pen-picture-headings">
          <h3>Tanja</h3><p><strong>BA MSc MRICS</strong></p>
          <h4>Director</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>"It was 2007 when my (now) husband first suggested that I trade in a successful career as a Chartered Surveyor in London to run off to the Highlands to manage and let holiday chalets in Aviemore. Never one to turn down a challenge we made our move up north in 2010!</p>

      <p>We began managing 13 holiday chalets and 2 apartments in Aviemore and have successfully increased turnover and most importantly profit by around 40% and occupancy rates across the board, as well as project managing the total renovation of many of the properties. We have just completed the build of a further two luxury lodge, that we designed ourselves, following the success of our first bespoke property that now achieves over 90% occupancy. All of this has added invaluable experience to my property knowledge base, but has also been a lot of fun.</p>

      <p>I met Judith in 2016 and we decided that together our knowledge of holiday lettings and experiences in this special area could offer a great deal to both property owners and their guests.</p>

      <p>That's where Handpicked Lodges began!"</p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="text-center">
        <h4>My Favourite thing about HPL?</h4>
        <p><em>"Closing the door on a lodge after checking it, knowing that it looks beautiful for our guest's arrival....I only wish I could see their faces when they arrive!"</em></p>
      </div>
    </div>
    <div class="col-xs-12">
      <hr class="gray-hr">
      <div class="pen-picture">
        <%= image_tag('portraits.jpg', class: "avatar") %>
        <div class="pen-picture-headings">
          <h3>Judith</h3><p><strong>MA</strong></p>
          <h4>Director</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>"In 2011 I relocated my successful Edinburgh-based training and coaching business to Aviemore, where I was very fortunate in developing great relationships  and delivering a range of training and coaching solutions to a many local businesses in the Cairngorms area.</p>
      <p>Property has always been a passion and when I moved up north with my family, my interest in this area and specifically in holiday properties continued to grow. It's a perfect opportunity to combine my passion for providing clients and guests with an outstanding service, my love of unique properties and promoting this spectacular part of the world.</p>
      <p>I made the transition in my career when I took over the management of Loch an Eilein Cottage, part of the Rothiemurchus Estate in 2015. I oversaw the total renovation project and now fully manage the marketing, bookings, guests and suppliers for the cottage on behalf of the Estate. After six months, occupancy reached 92% - and I knew I had made the right decision!</p>
      <p>Tanja and I are both totally dedicated to providing our guests and owners with outstanding service, unique properties and most importantly amazing and memorable holidays in this spectacular part of the world.”</p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="text-center">
        <h4>My Favourite thing about HPL?</h4>
        <p><em>“The wonderful feedback from our guests and owners – it makes all the hard work worthwhile!”</em></p>
      </div>
    </div>
    <div class="col-xs-12">
      <hr class="gray-hr">
      <div class="pen-picture">
        <%= image_tag('portraits.jpg', class: "avatar") %>
        <div class="pen-picture-headings">
          <h3>Clare</h3>
          <h4>Operations Manager</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>Having lived in Edinburgh for 16 years, and being a regular visitor to the Cairngorms National Park with my husband (and then young son), we were always promising ourselves we would move here one day. And then in 2014 sitting in the sunshine at Loch Morlich beach at the end of our summer holiday, we decided that this was our time to take the plunge, and finally relocated to live in Aviemore just 4 months later.</p>
      <p>In May 2018 I joined the team at Handpicked Lodges as Operations Manager, bringing with me over 10 years experience in the Scottish tourism industry working for Historic Scotland, and numerous other customer focused roles.</p>
      <p>There is so much to fall in love with in our beautiful National Park, whether it’s the scenery, wildlife, endless list of fun activities or just escaping the busyness of life and enjoying the peace and quiet.</p>
      <p>I am always delighted to share my knowledge about this wonderful area and I am passionate about providing a service to our customers that exceeds their expectations for a truly memorable holiday.</p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="text-center">
        <h4>My Favourite thing about HPL?</h4>
        <p><em>"Knowing that our customers will leave with wonderful memories of their holiday, having
experienced a stay in one of our unique properties."</em></p>
      </div>
    </div>
    <div class="col-xs-12">
      <hr class="gray-hr">
      <div class="pen-picture">
        <%= image_tag('portraits.jpg', class: "avatar") %>
        <div class="pen-picture-headings">
          <h3>Kyla</h3><p><strong>BA Oxon</strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>"Before moving back to Scotland in 2015, I worked in branding, design and marketing agencies in London. I became a freelance copywriter and brand planner once our children arrived and after moving to our forever house in Aviemore I was able to work remotely – very remotely!</p>
      <p>In 2017 Judith and Tanja recruited me to their team. I’m evangelical about the Highlands and I would love everyone to experience just how inspiring this place is. I’ve lived, worked and studied in beautiful surroundings and buildings all my life – and working for Handpicked Lodges is no different!"</p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="text-center">
        <h4>My Favourite thing about HPL?</h4>
        <p><em>"Driving between the lodges you always see the most incredible scenery and wildlife – it’s a pretty awesome “view from the office.”</em></p>
      </div>
    </div>
    <div class="col-xs-12">
      <hr class="gray-hr">
      <div class="pen-picture">
        <%= image_tag('portraits.jpg', class: "avatar") %>
        <div class="pen-picture-headings">
          <h3>Helen</h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>"A move North from the Cotswolds was inevitable after years of travelling up the M6 for our annual holiday in the Highlands. We just fell in love Scotland!</p>
      <p>My husband and I, and then 5 labradors, moved up to Perthshire 12 years ago but it wasn’t until we moved into the Cairngorms National Park 2 years ago that we totally realised our dream. I love the mountains and lochs and I am fascinated by the flora and fauna that exists here.</p>
      <p>Throughout my working life I’ve been involved in property sales, gardening, floristry and, until we left Perthshire, holiday lets of my own. In every job I’ve had, attention to detail has been critical.</p>
      <p>We now have a more modest pack of 3 labradors and I can’t think of a nicer way to spend a day than walking one of the many local tracks with them."</p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="text-center">
        <h4>My Favourite thing about HPL?</h4>
        <p><em>"My job! Checking lodges just before guests arrive and ensuring everything is just perfect. "</em></p>
      </div>
      <br>
    </div>
  </div>
</div>
<%= render 'shared/page-search' %>
