<% content_for :meta_title, "Eat - Drink- Play - Relax - Shop in the Cairngorms" %>
<% content_for :meta_description, "Things to do in Aviemore and the Cairngorms" %>
<div class="show-banner-cloudinary" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('about-the-area.jpg') %>');">
  <div class="header-text">
    <h1>Eat - Drink - Play - Relax - Shop</h1>
    <h4>Things to do in Aviemore and the Cairngorms</h4>
  </div>
</div>
<div class="container">
  <div class="row vertical-align">
    <div class="col-xs-12 col-md-6">
      <div class="white-card">
        <h4 class="text-center">The Cairngorms National Park is one of the top 20 places to visit in the world, according to National Geographic Magazine.</h4>
        <p>It is the UK's largest national park and the largest area of arctic mountain landscape in the UK, providing a home to 25% of the country's endangered species, four of Scotland's highest mountains and Britain's favourite picnic spot so there really is something for everyone here.</p>
        <p>Whether you are hoping to escape and relax, thrill seeking or simply want a fun family holiday, the Cairngorms and Aviemore are the place to be.</p>
        <p>Here are just a few of our favourite places to eat and things to do, to give you a taster of what there is on offer.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <!-- Container for the image gallery -->
      <div class="gallery-container">

        <!-- Full-width images with number text -->
        <div class="mySlides">
          <%= image_tag('about-the-area-3.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-4.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-5.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-6.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-7.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-9.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-11.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-13.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-14.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-15.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-17.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-18.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-20.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-21.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-22.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-23.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-24.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-25.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-26.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-27.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-28.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-29.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('about-the-area-30-small.jpg', style:"width: 100%") %>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev sm" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next sm" onclick="plusSlides(1)">&#10095;</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12">
    </div>
    <div class="col-md-6 col-xs-12">

      <!-- Thumbnail images -->
      <div class="gallery-row">
        <div class="gallery-column">
          <%= image_tag('about-the-area-3.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(1)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-4.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(2)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-5.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(3)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-6.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(4)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-7.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(5)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-9.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(6)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-11.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(7)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-13.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(8)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-14.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(9)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-15.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(10)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-17.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(11)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-18.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(12)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-20.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(13)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-21.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(14)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-22.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(15)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-23.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(16)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-24.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(17)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-25.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(18)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-26.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(19)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-27.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(20)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-28.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(21)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-29.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(22)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('about-the-area-30-small.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(23)") %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Eating and Drinking</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Andersons Restaurant, Boat of Garten</strong></h5>
      </div>
      <div class="white-card">
        <p>This relaxed and informal bistro style restaurant (recommended by Nick Nairn) is committed to using local Scottish produce when it is in season, which means their menu changes each month, as do their daily specials. In peak season booking is essential and be aware that they are sometimes closed on Tuesdays.</p>
      </div>
      <div class="green-header">
        <h5><strong>Garth Hotel Restaurant, Grantown-on-Spey</strong></h5>
      </div>
      <div class="white-card">
        <p>A lovely traditional hotel with a great home-cooked Scottish menu.</p>
      </div>
      <div class="green-header">
        <h5><strong>La Taverna, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>This ever popular family-run Italian in Aviemore puts on a great value value buffet every night, as well as pizza and pasta dishes a la carte.</p>
      </div>
      <div class="green-header">
        <h5><strong>Letterbox Restaurant, Newtonmore</strong></h5>
      </div>
      <div class="white-card">
        <p>A small family run restaurant serving locally sourced fresh scottish produce. Evening meals (including vegetarian/vegan menu) available Monday to Sunday, 4.30pm to 10.30pm.</p>
      </div>
      <div class="green-header">
        <h5><strong>Royal Tandoori, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>Indian food to sit in or take away, as well as a separate function room for large groups and a children’s menu.</p>
      </div>
      <div class="green-header">
        <h5><strong>​The Old Bridge Inn, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>This cosy, candle-lit restaurant sits on the banks of the River Spey. Working closely with local farmers and suppliers, they keep the menu as full of local produce as possible. They also have a cosy bar area where you can eat and drink in front of the open fire with regular live music, and dogs are welcome too! This is a popular venue for both locals and tourists so we recommend that you book.</p>
      </div>
      <div class="green-header">
        <h5><strong>​The Rowan Tree Country Hotel, Kincraig</strong></h5>
      </div>
      <div class="white-card">
        <p>This is a relaxed and very good restaurant serving the freshest, principally Scottish ingredients. Meals are served daily between 5.30 and 8.30pm.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>​The Boat Country Inn and Restaurant, Boat of Garten</strong></h5>
      </div>
      <div class="white-card">
        <p>Offering a casual and hearty seasonal pub-style menu with their own take on classic dishes and speciality nights throughout the week. The cosy bar offers an extensive selection of over 50 whiskies and variety of gin. Dogs are welcome too!</p>
      </div>
      <div class="green-header">
        <h5><strong>The Cairn Hotel, Carrbridge</strong></h5>
      </div>
      <div class="white-card">
        <p>You can enjoy a country pub atmosphere with a real log fire on a chilly day or outdoor seating on a sunny day. They serve great pub lunches and suppers, always with some friendly banter and maybe some real ale or a wee dram.</p>
      </div>
      <div class="green-header">
        <h5><strong>​The Craigellachie Speyside, Craigellachie</strong></h5>
      </div>
      <div class="white-card">
        <p>A 40-minute drive north on the A95 from Nethy Bridge, this stylish small hotel is the perfect spot for a relaxed lunch or dinner. The Copper Dog pub downstairs serves quality local fare, with live music on summer evenings, and the Quaich bar is home to more than 900 whiskies!</p>
      </div>
      <div class="green-header">
        <h5><strong>​​The Cross, Kingussie</strong></h5>
      </div>
      <div class="white-card">
        <p>This exclusive restaurant offers a three-course menu with several choices for each course or you can select their six-course signature tasting menu. Both menus change regularly and are designed around the best of the seasonal produce which they source as much as possible from Scotland’s wonderful larder. The Cross is the perfect setting to celebrate a special occasion or simply an opportunity to sample some delicious local cuisine. It’s essential to book so that you don’t miss out!</p>
      </div>
      <div class="green-header">
        <h5><strong>​The Wee Puffin Restaurant, Grantown-on-Spey</strong></h5>
      </div>
      <div class="white-card">
        <p>A relaxed restaurant in Grantown where you won’t leave hungry!</p>
      </div>
      <div class="green-header">
        <h5><strong>​The Winking Owl, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>This lovely gastro pub is owned by the Cairngorm Brewery and has an impressive selection of real ales to go along with its hearty menu. A kids menu is available too.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Pine Marten Bar, Glenmore</strong></h5>
      </div>
      <div class="white-card">
        <p>A fun bar with local beers and wood burner located halfway up the mountain road at Glenmore. Perfect for apres ski/walk/cycle!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Cafés</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Carrbridge Kitchen, Carrbridge</strong></h5>
      </div>
      <div class="white-card">
        <p>The Carrbridge Kitchen is a fantastic Scottish fusion café/restaurant serving delicious breakfasts, lunches, and of course, coffee and cake. Over the summer months, it is also open some evenings for dinner but do check before you go. Great, friendly service and beautifully presented, with a wood-burning stove to warm you up on chillier days.</p>
      </div>
      <div class="green-header">
        <h5><strong>High St. Merchants, Grantown-on-Spey</strong></h5>
      </div>
      <div class="white-card">
        <p>This gem of a café and gallery is a firm favourite with local and visitors alike. Pop in for a delicious scone, tasty lunch or pint of Two Thirsty Men beer (brewed right next door!). Also open for dinner on Friday and Saturday evenings.</p>
      </div>
      <div class="green-header">
        <h5><strong>Just Delicious, Grantown-on-Spey</strong></h5>
      </div>
      <div class="white-card">
        <p>This friendly family-run café and deli serves a great selection of freshly-made soups, sandwiches, panini, jacket potatoes, salad bowls and home-baking in comfortable surroundings. Takeaway also available.</p>
      </div>
      <div class="green-header">
        <h5><strong>Nethy House Café, Nethy Bridge</strong></h5>
      </div>
      <div class="white-card">
        <p>A delightful little café with home-cooked food and fantastic coffee as well as friendly service, in the heart of Nethy Bridge. You can also buy local craft and photography, and dogs are welcome. Open 10am-5pm every day except Wednesday.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​The Wild Flour, Newtonmore</strong></h5>
      </div>
      <div class="white-card">
        <p>A lovely wee café that serves homemade treats in a relaxed atmosphere.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>​​Route 7, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>Route 7 is a great place for breakfast, lunch or an afternoon snack, open 9am-4.30pm every day. They serve pizza from their wood-fired oven at weekends from 12-3pm. Look out for their pop up street food nights in the summer season. Being bike friendly, they have a free bike wash-down area and compressed air for your tyres!</p>
      </div>
      <div class="green-header">
        <h5><strong>​​The Druie, Rothiemurchus</strong></h5>
      </div>
      <div class="white-card">
        <p>This cosy and friendly café predominantly uses produce from the Rothiemurchus Estate. They have a lovely outdoor seating area which is perfect for sunny days (and dog friendly). They can also provide great packed lunches that you can order in advance.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​The Mountain Café, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>Owned by a passionate and incredibly talented kiwi chef, for many frequent visitors it’s almost impossible to visit the area without a breakfast or coffee and cake in the multi-award winning Mountain Café. You often need to wait for a table as they don’t take bookings but (unless you are starving) it is worth the wait.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​The Sugar Bowl, Kingussie</strong></h5>
      </div>
      <div class="white-card">
        <p>A lovely little coffee shop which also sells some great gifts. Breakfast, lunch, drinks and coffee are served every day other than Monday.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​Tiso, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>Part of the new retail park in Aviemore. This licensed cafe offers a wide selection of home cooked food and a small soft play for the kids!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Play</h3>
      </div>
      <div class="green-header">
        <h4 class="text-center">Biking</h4>
      </div>
      <div class="white-card">
        <p>There are countless biking routes and trails all around the area, with new ones being created all the time, from family friendly routes to trails for the more adventurous. There’s also the Sustrans National Route 7 that passes through Kingussie, Aviemore and Carrbridge.For more information visit <a href="http://www.sustrans.org.uk" class="green-link", target="blank">www.sustrans.org.uk</a></p>
        <p>There’s also some fantastic trail centres in the area, described below.</p>
        <p>For bike hire and further information on the wealth of biking routes and trails in the area, get in touch with the following places:</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Basecamp Bikes, Grantown-on-spey</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> <a href="http://www.basecampmtb.com" class="green-link", target="blank">www.basecampmtb.com</a> or 01479 870050</p>
      </div>
      <div class="green-header">
        <h5><strong>Bothy Bikes, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> <a href="http://www.bothybikes.co.uk" class="green-link", target="blank">www.bothybikes.co.uk</a> or 01479 810111</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Mikes Bikes, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> <a href="http://www.aviemorebikes.co.uk" class="green-link", target="blank">www.aviemorebikes.co.uk</a> or 01479 810478</p>
        <p><em>Also offer bike hire drop off and pick ups</em></p>
      </div>
      <div class="green-header">
        <h5><strong>Ride Cairngorm, Boat of Garten</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> <a href="http://www.ridecairngorm.com" class="green-link", target="blank">www.ridecairngorm.com</a> or 01479 831729</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Glenlivet Bike Trails</strong></h5>
      </div>
      <div class="white-card">
        <p>Enjoy the purpose-built mountain bike trails at the heart of Glenlivet Estate, with not only fantastic fun-packed, flowing single track trail, but spectacular scenery and stunning views.</p>
        <p>The blue trail is a great introduction to cross country riding, while the red trail provides challenges for the experienced.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Laggan Wolftrax</strong></h5>
      </div>
      <div class="white-card">
        <p>Over 20 miles (35 km) of purpose-built trails wind through Laggan Forest, with superb views of the Monadhliath hills on the edge of the Cairngorms National Park.</p>
        <p>There are routes from an easy-going green trail to a black run that’s probably the most technical bit of single-track in Scotland. In the bike park you can ride big berms and tabletop jumps.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="green-header">
        <h4 class="text-center">Breweries and Distilleries</h4>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Balmenach Distillery, Cromdale</p>
        <p><%= fa_icon "caret-right" %> Cairngorm Brewery, Aviemore</p>
        <p><%= fa_icon "caret-right" %> Dalwhinnie Distillery (near A9 south of Newtonmore)</p>
        <p><%= fa_icon "caret-right" %> Two Thirsty Men brewery, Grantown-on-Spey</p>
        <p><%= fa_icon "caret-right" %> Malt Whisky Trail (<a href="http://www.maltwhiskytrail.com" class="green-link", target="blank">www.maltwhiskytrail.com</a> for details on visiting the Trail’s nine distilleries including Glenfiddich (Dufftown), The Glenlivet (near Tomintoul), and Cardhu (near Rothes))</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="green-header">
        <h4 class="text-center">Castles</h4>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Ballindalloch Castle, between Grantown and Aberlour</p>
        <p><%= fa_icon "caret-right" %> Balmoral Castle, between Ballater and Braemar</p>
        <p><%= fa_icon "caret-right" %> Blair Castle, Blair Atholl</p>
        <p><%= fa_icon "caret-right" %> Brodie Castle, near Forres</p>
        <p><%= fa_icon "caret-right" %> Cawdor Castle, near Inverness</p>
        <p><%= fa_icon "caret-right" %> Urquhart Castle, Drumnadrochit</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="green-header">
        <h4 class="text-center">Cinemas</h4>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Eden Court, Inverness</p>
        <p><%= fa_icon "caret-right" %> Spey Valley Cinema at Macdonald Highland Resort, Aviemore</p>
        <p><%= fa_icon "caret-right" %> Vue Cinema, Inverness</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="green-header margin-bottom">
        <h4 class="text-center">Fishing</h4>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Abernethy Angling Association</strong></h5>
      </div>
      <div class="white-card">
        <p>Spey salmon and sea trout fishing available. Find out more and pick up permits at Boat of Garten Post Office.</p>
      </div>
      <div class="green-header">
        <h5><strong>Badenoch Angling Association</strong></h5>
      </div>
      <div class="white-card">
        <p>Salmon, trout and pike fishing available on the river and in lochs. Permits can be bought online or at the newsagents  in Kingussie.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Rothiemurchus</strong></h5>
      </div>
      <div class="white-card">
        <p>Fishing at Rothiemurchus for all abilities with pike, rainbow and brown trout, on the river and in lochs. Permits available from the Rothiemurchus Fish Farm.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="green-header margin-bottom">
        <h4 class="text-center">Golf</h4>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Abernethy Golf Club</strong></h5>
      </div>
      <div class="white-card">
        <p>Abernethy is a traditional Highland golf course, built on natural moorland, and surrounded by majestic pine trees. The course is suitable for golfers of all standards.</p>
      </div>
      <div class="green-header">
        <h5><strong>Boat of Garten Golf Club</strong></h5>
      </div>
      <div class="white-card">
        <p>Designed by one of the grand-masters of golf course architecture, James Braid (1870-1950), “The Boat” is set alongside the River Spey in the heart of the Cairngorms National Park, only 10 minutes drive from the bustling village of Aviemore.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Carrbridge Golf Club</strong></h5>
      </div>
      <div class="white-card">
        <p>Carrbridge Golf Club is a friendly club with a good mix of players of all ages and standards. Carrbridge welcomes everyone from seasoned competitors through to those just taking up the sport, the solitary golfer or groups of friends.</p>
      </div>
      <div class="green-header">
        <h5><strong>Aviemore Spey Valley Championship Golf Course</strong></h5>
      </div>
      <div class="white-card">
        <p>Recently voted one of the best golf courses in Scotland, Spey Valley features some of the most breathtaking views in the world, offering golfers a glimpse right into the very heart of the Scottish Highlands.</p>
      </div>
      <div class="green-header">
        <h5><strong>Newtonmore Golf</strong></h5>
      </div>
      <div class="white-card">
        <p>Enjoy a round with stunning views, perfect for all ages and abilities.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="green-header margin-bottom">
        <h4 class="text-center">Animals & Nature</h4>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Horse Riding</strong></h5>
      </div>
      <div class="white-card">
        <p>Alvie Stables in Kingussie can organise pony treks of any duration from an hour up to a full day - an inspirational way to see the landscape at a leisurely pace on their well trained school horses and ponies. Suitable for all ages and abilities. If you are a more experienced rider, hacks are also possible.</p>
      </div>
      <div class="green-header">
        <h5><strong>Leault Working sheepdog</strong></h5>
      </div>
      <div class="white-card">
        <p>Witness a 45 minute demonstration of up to 8 working dogs expertly maneuvering sheep around various obstacles, as well as the opportunity to meet the collie pups, lambs and even take part in shearing a sheep! Based in Kincraig (only 7 miles from Kingussie), definitely an experience not to be missed.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>The Wildcat Experience/Trail, Newtonmore</strong></h5>
      </div>
      <div class="white-card">
        <p>Walk part, or all of the 10km orbital route around the lovely village of Newtonmore, hunting for 132 painted model wildcats. Maybe they’re hiding in trees, gardens or even on roofs! Certificates and prizes are awarded for finding 25 or more wildcats.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="green-header margin-bottom">
        <h4 class="text-center">Outdoor Activities</h4>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Alvie Estate</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Archery</p>
        <p><%= fa_icon "caret-right" %> Clay pigeon shooting</p>
        <p><%= fa_icon "caret-right" %> Deer feeding</p>
        <p><%= fa_icon "caret-right" %> Fishing</p>
        <p><%= fa_icon "caret-right" %> Paintball</p>
        <p><%= fa_icon "caret-right" %> Pony trekking</p>
        <p><%= fa_icon "caret-right" %> Segways</p>
      </div>
      <div class="green-header">
        <h5><strong>Aviemore Kart Raceway</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Arrive and drive sessions</p>
        <p><%= fa_icon "caret-right" %> Group bookings</p>
      </div>
      <div class="green-header">
        <h5><strong>Backcountry Scot</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Bike adventures</p>
        <p><%= fa_icon "caret-right" %> Packrafting adventures and hire</p>
      </div>
      <div class="green-header">
        <h5><strong>Craggan Outdoors</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Archery</p>
        <p><%= fa_icon "caret-right" %> Bushcraft</p>
        <p><%= fa_icon "caret-right" %> Clay pigeon shooting</p>
        <p><%= fa_icon "caret-right" %> Climbing and abseiling</p>
        <p><%= fa_icon "caret-right" %> Gorge walking</p>
        <p><%= fa_icon "caret-right" %> High ropes</p>
        <p><%= fa_icon "caret-right" %> Laser tag</p>
        <p><%= fa_icon "caret-right" %> Mini quads</p>
        <p><%= fa_icon "caret-right" %> Paintball</p>
      </div>
      <div class="green-header">
        <h5><strong>Full on Adventure</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Canyoning</p>
        <p><%= fa_icon "caret-right" %> Gorge walking</p>
        <p><%= fa_icon "caret-right" %> River kayaking</p>
        <p><%= fa_icon "caret-right" %> River stand up paddleboarding</p>
        <p><%= fa_icon "caret-right" %> White water rafting/tubing</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Glenmore Lodge</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Kayaking and canoeing courses</p>
        <p><%= fa_icon "caret-right" %> Mountaineering courses</p>
        <p><%= fa_icon "caret-right" %> Mountain biking courses</p>
        <p><%= fa_icon "caret-right" %> Ski touring and off-piste courses</p>
      </div>
      <div class="green-header">
        <h5><strong>G2 Outdoor</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Canyoning</p>
        <p><%= fa_icon "caret-right" %> Gorge walking</p>
        <p><%= fa_icon "caret-right" %> White water rafting</p>
        <p><%= fa_icon "caret-right" %> Zip trek park</p>
      </div>
      <div class="green-header">
        <h5><strong>Loch Insh Outdoor Centre</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Kayaking</p>
        <p><%= fa_icon "caret-right" %> Open canoeing</p>
        <p><%= fa_icon "caret-right" %> Pedalos</p>
        <p><%= fa_icon "caret-right" %> Private tuition available</p>
        <p><%= fa_icon "caret-right" %> Rowing</p>
        <p><%= fa_icon "caret-right" %> Sailing</p>
        <p><%= fa_icon "caret-right" %> Stand up paddleboarding</p>
        <p><%= fa_icon "caret-right" %> Tour boat</p>
        <p><%= fa_icon "caret-right" %> Windsurfing</p>
      </div>
      <div class="green-header">
        <h5><strong>Loch Morlich Watersports</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Canoeing</p>
        <p><%= fa_icon "caret-right" %> Kayaking</p>
        <p><%= fa_icon "caret-right" %> Sailing</p>
        <p><%= fa_icon "caret-right" %> Stand up paddleboarding</p>
        <p><%= fa_icon "caret-right" %> Windsurfing</p>
        <p><%= fa_icon "caret-right" %> Lessons also available</p>
      </div>
      <div class="green-header">
        <h5><strong>Rothiemurchus Estate</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Archery and clay pigeon shooting</p>
        <p><%= fa_icon "caret-right" %> Feed the deer</p>
        <p><%= fa_icon "caret-right" %> Pony trekking</p>
        <p><%= fa_icon "caret-right" %> Segways and Quad biking</p>
        <p><%= fa_icon "caret-right" %> Tennis</p>
        <p><%= fa_icon "caret-right" %> Treezone</p>
        <p><%= fa_icon "caret-right" %> Wildlife watching and photography</p>
        <p><%= fa_icon "caret-right" %> 4x4 off road safari</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="green-header">
        <h4 class="text-center">Shinty</h4>
      </div>
      <div class="white-card">
        <p>Shinty (or Camanachd in Gaelic) is played regularly at Newtonmore and Kingussie. Games are held regularly on weekday evenings or at weekends and all spectators warmly welcome!  It’s a fast-paced and thrilling traditional Highland sport and is a huge part of the Highland culture particularly in these two villages, who are fierce shinty rivals! See their websites/facebook pages for match details.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="green-header margin-bottom">
        <h4 class="text-center">Snowsports</h4>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Aviemore & Glenmore Ski School</strong></h5>
      </div>
      <div class="white-card">
        <p>XC ski tracks are cut at Glenmore when snow conditions allow. Equipment is available to hire there by the hour or by the day.</p>
      </div>
      <div class="green-header">
        <h5><strong>Cairngorm Mountain</strong></h5>
      </div>
      <div class="white-card">
        <p>Cairngorm Mountain has a reputation as one of the most beautiful places to ski and snowboard in the UK and is located just a short drive from the lodge. With a wide range of routes on offer, 11 lifts including the funicular train and a fun park/terrain for freestylers when conditions allow. Lessons and hire gear are available.</p>
      </div>
      <div class="green-header">
        <h5><strong>Hire Gear</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Ellis Brigham Mountain Sports (01479 810175)</p>
        <p><%= fa_icon "caret-right" %> Nevis Sport (01479 810239)</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Lessons</strong></h5>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Aviemore School of Snowsports (<a href="http://www.theskischool.co.uk" class="green-link", target="blank">www.theskischool.co.uk</a> or 01479 810145)</p>
        <p><%= fa_icon "caret-right" %> Freeski (<a href="http://www.free-ski.co.uk" class="green-link", target="blank">www.free-ski.co.uk</a> or 07495 028578)</p>
        <p><%= fa_icon "caret-right" %> G2 Outdoor (<a href="http://www.g2outdoor.co.uk" class="green-link", target="blank">www.g2outdoor.co.uk</a> or 01540 651784)</p>
      </div>
      <div class="green-header">
        <h5><strong>Cairngorm Sleddog Centre</strong></h5>
      </div>
      <div class="white-card">
        <p>The Cairngorm Sleddog Centre is the only daily working sleddog centre in the UK and offers a wide range of activities for the whole family, from kennel and museum tours to sleddog trips and safaris.</p>
      </div>
      <div class="green-header">
        <h5><strong>Sledging</strong></h5>
      </div>
      <div class="white-card">
        <p>Probably the most popular place to sledge is at the Hayfield, Glenmore (close to the snow gates on the Cairngorm Mountain road) or on the lawn at the front of the MacDonald Hotel building in Aviemore.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="green-header">
        <h4 class="text-center">Walking</h4>
      </div>
      <div class="white-card">
        <p>There are endless options for walks across the Cairngorms National Park from low and easy loch walks to extremely strenuous hikes up Munros. A great place to look for and plan the right walk for you is <strong><a href="https://www.walkhighlands.co.uk/", class="green-link", target="blank">Walk Highlands</a></strong>.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Relax</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="green-header">
        <h4 class="text-center">Hair and Beauty</h4>
      </div>
      <div class="white-card">
        <p><%= fa_icon "caret-right" %> Ampla Vella, Kingussie</p>
        <p><%= fa_icon "caret-right" %> Beautique, Aviemore</p>
        <p><%= fa_icon "caret-right" %> The Retreat, Aviemore</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="green-header margin-bottom">
        <h4 class="text-center">Massage / Pampering</h4>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Aviemore Beauty & Alternative Therapy Centre</strong></h5>
      </div>
      <div class="white-card">
        <p>More than just a beauty salon, Aviemore Beauty is an alternative therapy centre too. An extensive range of therapies are on offer, and you can expect the highest standard of treatments from carefully selected local therapists.</p>
      </div>
      <div class="green-header">
        <h5><strong>Cairngorm Beauty Therapy & Spa, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>A luxurious spa which promises to soothe away the stresses of life, rejuvenate and re-energise the body and allow you to indulge your senses, boasting a fantastic 5 person hot tub and infra red, hot rock sauna.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Lets Relax Spa, Hilton Coylumbridge</strong></h5>
      </div>
      <div class="white-card">
        <p>Specialising in Thai massage, choose from a range of relaxing massages, facials, manicures and pedicures.</p>
      </div>
      <div class="green-header">
        <h5><strong>Pure Balance Holistic Therapies, Kincraig</strong></h5>
      </div>
      <div class="white-card">
        <p>Treat yourself to a luxurious hot lava shell massage, pure aroma facial or stimulating body scrub.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Shopping</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Balliefurth Farm Shop , Nethy Bridge</strong></h5>
      </div>
      <div class="white-card">
        <p>This award-winning family-run butcher and deli stocks a range of local produce, including fruit and vegetables, locally-made honey, pies and a range of gluten-free and organic products.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Deli Mair</strong></h5>
      </div>
      <div class="white-card">
        <p>A local deli with deli counter, fresh bread, take-away coffee and a great selection of other local produce.</p>
      </div>
      <div class="green-header">
        <h5><strong>Macdonald Highland Hotel Shop</strong></h5>
      </div>
      <div class="white-card">
        <p>The shop at ‘the centre’ sells luxurious and stylish Scottish products mixed with a large selection of high end merchandise and clothing.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Rothiemurchus Farm shop and Deli</strong></h5>
      </div>
      <div class="white-card">
        <p>Rothiemurchus is passionate about its home-grown produce and offers a great selection of meat, fish, cheeses, coffee and teas, cakes, preserves and chutneys, drinks, chocolate and shortbread, to name just a few.</p>
      </div>
      <div class="green-header">
        <h5><strong>The Cairngorms Farmers Market</strong></h5>
      </div>
      <div class="white-card">
        <p>If you enjoy cooking, you may like to pick up your own local ingredients and create some delicious meals yourself, the Cairngorms Farmers Market is the closest one to home with regular dates throughout the summer. You will be able to find out where and when these are on by looking in the Visit Cairngorms What’s On guide.</p>
      </div>
      <div class="green-header">
        <h5><strong>​​Supermarkets</strong></h5>
      </div>
      <div class="white-card">
        <p>If it’s convenience you are after, there is a Tesco, Co-op and Aldi in Aviemore.  There is also a Co-op in Kingussie and Grantown on Spey.  Sainsburys, Asda and Tesco also provide home delivery to most properties in the area.</p>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/page-search' %>
<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>
