<% content_for :meta_title, "Who are the holiday home managers of Handpicked Lodges" %>
<% content_for :meta_description, "Handpicked, lodges, holiday , home, property, management, investment, returns, managing, agent, marketing" %>
<div class="show-banner-cloudinary" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('about-us.jpg') %>');">
  <div class="header-text">
    <h1>About us</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pen-picture">
        <%= image_tag('tanja-small.jpg', class: "avatar") %>
        <div class="pen-picture-headings">
          <h3>Tanja</h3><p><strong>BA MSc MRICS</strong></p>
          <h4>Director</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>"For the last 8 years, alongside my husband, I have managed the growth and expansion of 15 holiday chalets and apartments in Aviemore. The experience and knowledge that we have gained coupled with my prior experience working as a Chartered Surveyor in London have allowed us to successfully increase turnover and profit by around 40%. We have also designed and built  4 luxury lodges which now achieve over 90% occupancy.</p>

      <p>In 2016, Judith and I decided that together our knowledge and past experiences could offer a new way for both our owners and our guests to experience holiday homes in the Cairngorms.</p>

      <p>Our unique and hands-on approach has allowed our small business to grow to 12 lodges by the end of our second trading year, where we achieve a higher than average occupancy, greater customer satisfaction, high number of repeat guests and recommendations and 5 star reviews across the board.</p>

      <p>Our ethos is simple; we want to show you the very best of what Handpicked Lodges and the Cairngorms has to offer time and time again."</p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="white-card" style="margin-bottom: 0px">
        <div class="text-center">
          <h4>My Favourite thing about HPL?</h4>
          <p><em>"Closing the door on a lodge after checking it, knowing that it looks beautiful for our guest's arrival....I only wish I could see their faces when they arrive!"</em></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <hr class="gray-hr">
      <div class="pen-picture">
        <%= image_tag('judith-small.jpg', class: "avatar") %>
        <div class="pen-picture-headings">
          <h3>Judith</h3><p><strong>MA</strong></p>
          <h4>Director</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>"As a child I spent many wonderful holidays exploring the Cairngorms, so when the opportunity arose seven years ago to move from Edinburgh to Aviemore with my family, I jumped at the chance and have never looked back. When we first moved, I continued to run my training and coaching consultancy, working with several local and national businesses in supporting the development of customer service and management skills within their teams.</p>
      <p>I have always had a very keen interest in property, particularly holiday homes - coupled with my passion for customer care and running my own business, this meant that Handpicked Lodges was the perfect next step for me.</p>
      <p>Tanja and I have a very similar ethos and values which have resulted in the rapid and consistent success of our business, Handpicked Lodges. We are dedicated to providing our guests with an outstanding level of service from their first enquiry right through to the end of their stay and we pay attention to every little detail to ensure that their expectations are exceeded every time.</p>
      <p>Tanja and I are delighted that after just two years, we now have 12 beautiful and unique properties in our collection and we have a very talented team who support us in consistently delighting our guests and owners and improving our service offering all the time.”</p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="white-card text-center" style="margin-bottom: 0px">
        <h4>My Favourite thing about HPL?</h4>
        <p><em>“The wonderful feedback from our guests and owners – it makes all the hard work worthwhile!”</em></p>
      </div>
    </div>
    <div class="col-xs-12">
      <hr class="gray-hr">
      <div class="pen-picture">
        <%= image_tag('clare.png', class: "avatar") %>
        <div class="pen-picture-headings">
          <h3>Clare</h3>
          <h4>Head of Operations</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>Having lived in Edinburgh for 16 years, and being a regular visitor to the Cairngorms National Park with my husband (and then young son), we were always promising ourselves we would move here one day. And then in 2014 sitting in the sunshine at Loch Morlich beach at the end of our summer holiday, we decided that this was our time to take the plunge, and finally relocated to live in Aviemore just 4 months later.</p>
      <p>In May 2018 I joined the team at Handpicked Lodges as Operations Manager, bringing with me over 10 years experience in the Scottish tourism industry working for Historic Scotland, and numerous other customer focused roles.</p>
      <p>There is so much to fall in love with in our beautiful National Park, whether it’s the scenery, wildlife, endless list of fun activities or just escaping the busyness of life and enjoying the peace and quiet.</p>
      <p>I am always delighted to share my knowledge about this wonderful area and I am passionate about providing a service to our customers that exceeds their expectations for a truly memorable holiday.</p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="white-card text-center" style="margin-bottom: 0px">
        <h4>My Favourite thing about HPL?</h4>
        <p><em>"Knowing that our customers will leave with wonderful memories of their holiday, having experienced a stay in one of our unique properties."</em></p>
      </div>
    </div>
    <div class="col-xs-12">
      <hr class="gray-hr">
      <div class="pen-picture">
        <%= image_tag('kyla.jpg', class: "avatar") %>
        <div class="pen-picture-headings">
          <h3>Kyla</h3><p><strong>BA Oxon</strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>"Before moving back to Scotland in 2015, I worked in branding, design and marketing agencies in London. I became a freelance copywriter and brand planner once our children arrived and after moving to our forever house in Aviemore I was able to work remotely – very remotely!</p>
      <p>In 2017 Judith and Tanja recruited me to their team. I’m evangelical about the Highlands and I would love everyone to experience just how inspiring this place is. I’ve lived, worked and studied in beautiful surroundings and buildings all my life – and working for Handpicked Lodges is no different!"</p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="white-card text-center" style="margin-bottom: 0px">
        <h4>My Favourite thing about HPL?</h4>
        <p><em>"Driving between the lodges you always see the most incredible scenery and wildlife – it’s a pretty awesome “view from the office.”</em></p>
      </div>
    </div>
    <div class="col-xs-12">
      <hr class="gray-hr">
      <div class="pen-picture">
        <%= image_tag('paul.jpg', class: "avatar") %>
        <div class="pen-picture-headings">
          <h3>Paul</h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>"I have recently joined Handpicked Lodges after having worked as a Business Development and Account Manager in the Pharmaceutical industry for over 20 years.</p>
      <p>My partner Claire and I have had great holidays in The Cairngorms National Park over many years. The scenery, cycling, walking, the wildlife....where do you stop?! Some five years ago, we began to think seriously if it would be at all possible to up sticks and move to this fabulous part of Scotland. With the help of lots of lovely red wine, we looked at the 'pros and cons' of moving. The 'cons' column was empty and we arrived in Boat inDecember 2013. It's simply the best thing we have ever done."</p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="white-card text-center" style="margin-bottom: 0px">
        <h4>My Favourite thing about HPL?</h4>
        <p><em>"Making a small contribution to the fantastic holiday experience of our guests"</em></p>
      </div>
      <br>
    </div>
  </div>
</div>
<%= render 'shared/page-search' %>
