<% content_for :meta_title, "Contact Handpicked Lodges" %>
<% content_for :meta_description, "Looking for a holiday home in or around Aviemore? Contact Handpicked Lodges" %>
<div class="banner">
  <div class="header-text">
    <h1>Contact us</h1>
    <h3>About your highland holiday accommodation</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h4>Please contact Tanja or Judith for more information or advice about the lodges or the area</h4>
    </div>
  </div>
  <br>
  <div class="row vertical-align text-center">
    <div class="col-xs-12 col-md-6">
      <div class="white-card">
        <p><strong>Handpicked Lodges</strong></p>
        <p><a href="info@handpickedlodges.com" class="green-link">info@handpickedlodges.com</a></p>
        <p>Tanja 07545 990 633 or Judith 07984 791 623</p>
        <a href="https://www.facebook.com/HandpickedLodges/?ref=bookmarks" target="blank" class="green-link" style="font-size: 1.5em;"><%= fa_icon "facebook" %></a>
        <a href="https://www.instagram.com/handpickedlodges/?hl=en" target="blank" class="green-link" style="font-size: 1.5em;"><%= fa_icon "instagram" %></a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="white-card" style="padding-bottom: 5px;">
        <%= simple_form_for @contact_email do |f| %>
          <div class="form-group">
            <%= f.input :name, label: "Your name", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :email, label: "Your email", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :message, as: :text, class: "form-control" %>
          </div>
          <div class="form-group text-center">
            <%= f.button :submit, "SEND MESSAGE", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row vertical-align">
    <div class="col-xs-12">
      <div id='show-map'></div>
    </div>
  </div>
  <br>
</div>
<%= render 'shared/page-search' %>
<script>
  var token = "<%= ENV["MAPBOX"] %>";
  var longitude = -3.8259;
  var latitude = 57.19553;
  var geojson = {
      "type": "FeatureCollection",
      "features": [
          {
              "type": "Feature",
              "properties": {
                  "iconSize": [45, 45]
              },
              "geometry": {
                  "type": "Point",
                  "coordinates": [
                      longitude,
                      latitude
                  ]
              }
          }
      ]
  };
  mapboxgl.accessToken = token;
  var map = new mapboxgl.Map({
    container: 'show-map',
    style: 'mapbox://styles/mapbox/streets-v10',
    center: [longitude, latitude], // starting position
    zoom: 12 // starting zoom
  });

  // add markers to map
  geojson.features.forEach(function(marker) {
      // create a DOM element for the marker
      var el = document.createElement('div');
      el.className = 'marker';
      el.style.width = marker.properties.iconSize[0] + 'px';
      el.style.height = marker.properties.iconSize[1] + 'px';
      el.style.marginTop = -(marker.properties.iconSize[1]/3) + 'px';
      // el.style.backgroundImage = markerImage + marker.properties.iconSize.join('/') + '/)';
      // add marker to map
      new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
          .addTo(map);
  });

  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl());
</script>
