<% content_for :meta_title, "Things to do with children in Aviemore and the Cairngorms" %>
<% content_for :meta_description, "Things to do with children in Aviemore and the Cairngorms" %>
<div class="show-banner-cloudinary" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('family-small.jpg') %>');">
  <div class="header-text">
    <h1>Families</h1>
    <h4>Things to do with children in the Cairngorms National Park</h4>
  </div>
</div>
<div class="container">
  <div class="row vertical-align">
    <div class="col-xs-12 col-md-6">
      <div class="white-card">
        <h4 class="text-center">With eight young children between us, we have tried and tested just about everything that is on offer for families in Aviemore and the Cairngorms, and there is rather a lot.</h4>
        <p>Many of the lodges offer fantastic gardens and on-site play parks and all have DVD players and DVD's so your kids need never be bored even at your holiday home.</p>
        <p>The area is one big children's playground with fantastic walks around nature reserves, beaches and lochs providing plenty to see and discover. Most walking trails are accessible direct from you accommodation and most bike trails involve very little if any road work.</p>
        <p>The beach at Loch Morlich is perfect in summer or winter so don't forget your bucket and spade!</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <!-- Container for the image gallery -->
      <div class="gallery-container">

        <!-- Full-width images with number text -->
        <div class="mySlides">
          <%= image_tag('families-1.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-2.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-3.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-4.png', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-5.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-6.png', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-7.png', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-8.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-9.jpg', style:"width: 100%") %>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev sm" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next sm" onclick="plusSlides(1)">&#10095;</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12">
    </div>
    <div class="col-md-6 col-xs-12">
      <!-- Thumbnail images -->
      <div class="gallery-row">
        <div class="gallery-column">
          <%= image_tag('families-1.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(1)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('families-2.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(2)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('families-3.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(3)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('families-4.png', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(4)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('families-5.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(5)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('families-6.png', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(6)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('families-7.png', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(7)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('families-8.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(8)") %>
        </div>
        <div class="gallery-column">
          <%= image_tag('families-9.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(9)") %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Eating out with kids</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Andersons Restaurant, Boat of Garten</strong></h5>
      </div>
      <div class="white-card">
        <p>This relaxed and informal bistro style restaurant (recommended by Nick Nairn) is committed to using local Scottish produce when it is in season, which means their menu changes each month, as do their daily specials. They offer a delicious children’s menu and some very tasty homemade ice creams! In peak season booking is essential and be aware that they are sometimes closed on Tuesdays.</p>
      </div>
      <div class="green-header">
        <h5><strong>Nethy House Café, Nethy Bridge</strong></h5>
      </div>
      <div class="white-card">
        <p>A delightful little café offering a wide range of home baking, breakfast rolls and light lunches as well as fantastic coffee and a friendly service. The children (and grown ups too) will love the pancakes! Open 10am-5pm every day except Wednesday.</p>
      </div>
      <div class="green-header">
        <h5><strong>Glenmore Lodge, Glenmore</strong></h5>
      </div>
      <div class="white-card">
        <p>The friendly Lochain bar and grill at Glenmore Lodge, (Scotland’s national outdoor training centre) welcomes non-residents and offers a children’s menu. The bar is open daily from 5pm until late and food is served until 7pm (Monday, Tuesday) and until 9pm from Wednesday to Sunday. You can also enjoy drinks outside on the terrace with great views of the mountains.</p>
      </div>
      <div class="green-header">
        <h5><strong>Cobbs Café, Glenmore Visitor Centre</strong></h5>
      </div>
      <div class="white-card">
        <p>A family friendly café offering a large menu of tasty food and cakes as well as a children’s menu. Attached to the visitor centre, the children can entertain themselves with fun activity sheets or spot the birds and squirrels munching on the feeders just outside the café. Open daily from 9.30/10am until 3/3.30pm (4pm Saturday and Sunday).</p>
      </div>
      <div class="green-header">
        <h5><strong>High St. Merchants, Grantown-on-Spey</strong></h5>
      </div>
      <div class="white-card">
        <p>This gem of a café and gallery is a firm favourite with locals and visitors alike. Pop in for a delicious scone, tasty lunch or pint of Two Thirsty Men beer (brewed right next door!). Kids menu is also available. Also open for dinner on Friday and Saturday evenings.</p>
      </div>
      <div class="green-header">
        <h5><strong>Route 7, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>Route 7 is a family friendly café serving a kids breakfast, lunch or an afternoon snack menu, open 9am-4.30pm every day. They serve pizza from their wood fired oven at weekends from 12-3pm. Look out for their pop up street food nights in the summer season.</p>
      </div>
      <div class="green-header">
        <h5><strong>The Sugar Bowl, Kingussie</strong></h5>
      </div>
      <div class="white-card">
        <p>A lovely little coffee shop which also sells some great gifts. Breakfast, lunch, drinks and coffee are served every day other than Monday.</p>
      </div>
      <div class="green-header">
        <h5><strong>La Taverna, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>A family-run Italian pizzeria. Perfect for the kids and they have a buffet which means they can get food straight away! Very popular with locals and visitors alike.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Mountain Café, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>A very popular café serving home-cooked breakfast and lunch, with a cake selection like you’ve never seen before. Great menu for kids, but be prepared to queue for a table!</p>
      </div>
      <div class="green-header">
        <h5><strong>​The Druie, Rothiemurchus</strong></h5>
      </div>
      <div class="white-card">
        <p>A lovely café selling home cooked food from the Rothiemurchus Estate, with a great homemade children’s menu.</p>
      </div>
      <div class="green-header">
        <h5><strong>Carrbridge Kitchen, Carrbridge</strong></h5>
      </div>
      <div class="white-card">
        <p>A lovely wee café serving delicious breakfasts, lunches, and of course, coffee and cake. Over the summer months, it is also open some evenings for dinner but do check before you go. Great, friendly service and a fab children’s menu.</p>
      </div>
      <div class="green-header">
        <h5><strong>Muckrach Country House Hotel, Dulnain Bridge</strong></h5>
      </div>
      <div class="white-card">
        <p>A stunning example of a Victorian shooting lodge that underwent a total renovation and now offers a stylish brasserie-style restaurant which serves simple, stylish and delicious dishes made using local ingredients sourced from the Scottish Highlands. Enjoy a bit of luxury and fine dining somewhere  relaxed enough to have fun with the kids.</p>
      </div>
      <div class="green-header">
        <h5><strong>Roos Leap, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>A relaxed Australian themed restaurant with a large variety of menu choices.  Located next to the train station, it’s a popular eatery for families.</p>
      </div>
      <div class="green-header">
        <h5><strong>The Old Bridge Inn, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>Relax in the cosy bar area where you can eat and drink in front of the open fire.  Now offering a fantastic children’s menu too so you can enjoy some finer dining whilst the children devour homemade fish and chips or a roast dinner.  This is a popular venue for both locals and tourists so we recommend that you book.</p>
      </div>
      <div class="green-header">
        <h5><strong>The Winking Owl, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>Owned by the Cairngorm Brewery, it boasts a huge selection of real ales for the grown ups to try. A yummy home cooked children’s menu is available.</p>
      </div>
      <div class="green-header">
        <h5><strong>Garth Hotel, Grantown on Spey</strong></h5>
      </div>
      <div class="white-card">
        <p>A lovely traditional hotel with a great home-cooked Scottish menu.</p>
      </div>
      <div class="green-header">
        <h5><strong>The Wee Puffin Restaurant, Grantown-on-Spey</strong></h5>
      </div>
      <div class="white-card">
        <p>A relaxed restaurant in Grantown where you won’t leave hungry!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Fun days out with kids</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>​Ballindalloch Castle, between Grantown and Aberlour</strong></h5>
      </div>
      <div class="white-card">
        <p>Open to the public from Easter to the end of September, this castle has all you need for a lovely family day out. There you will find llamas, donkeys, a childrens playground complete with ride-on tractors, a grass labyrinth, beautiful gardens perfect for hide-and-seek, a great café and even  its own golf course!</p>
      </div>
      <div class="green-header">
        <h5><strong>Blair Castle, Blair Atholl</strong></h5>
      </div>
      <div class="white-card">
        <p>Home to the UK’s only private Army, the castle and  its gardens are a stunning example of Scottish history.</p>
      </div>
      <div class="green-header">
        <h5><strong>Cairngorm Reindeer Herd, Glenmore</strong></h5>
      </div>
      <div class="white-card">
        <p>With a short trek up towards Cairngorm Mountain, you can visit the UK's only wild reindeer herd. If you don't fancy the walk, there are always a few reindeer ready to greet you at the Visitor Centre near Glenmore.</p>
      </div>
      <div class="green-header">
        <h5><strong>The Fun House, Hilton Coylumbridge</strong></h5>
      </div>
      <div class="white-card">
        <p>Great fun for when the weather isn’t! Let the kids burn off energy in their treehouse-themed soft play centre with 3 levels of slides, ropes and ball pits.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Highland Folk Museum, Newtonmore</strong></h5>
      </div>
      <div class="white-card">
        <p>Visit Britain’s first open air museum and learn how Highland people lived and worked from the 1700s up until the 1950s. There’s lots to do with over 30 historical buildings, a 1700s township, café, gift shop and children’s playground.</p>
      </div>
      <div class="green-header">
        <h5><strong>Highland Wildlife Park, Kincraig</strong></h5>
      </div>
      <div class="white-card">
        <p>Home to a huge variety of sub-arctic species. Watch the huge Amur tigers being fed, try to spot the elusive wolverine, howl with the wolf pack and then enjoy lunch with Japanese snow monkeys. You might even spot a polar bear or two!</p>
      </div>
      <div class="green-header">
        <h5><strong>Insh Marshes, Kingussie</strong></h5>
      </div>
      <div class="white-card">
        <p>The Insh Marshes covers 10 square kilometres of the River Spey floodplain between Kingussie and Kincraig. It is said to be one of the most important wetland areas in Europe, supporting populations of breeding waders including curlew, lapwing, redshank and snipe.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Landmark Forest Adventure Park, Carrbridge</strong></h5>
      </div>
      <div class="white-card">
        <p>Fun for all the family offering everything from a roller coaster, high ropes, indoor and outdoor play areas to a new butterfly house. They have special rides for toddlers too so there is something for everyone no matter what age you are.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Rothiemurchus Estate</strong></h5>
      </div>
      <div class="white-card">
        <p>A wide range of activities suitable for kids of all ages are on offer, including Highland pony trekking and high ropes. The visitor centre will be able to give you all of the information you need and take bookings.</p>
      </div>
      <div class="green-header">
        <h5><strong>​RSPB Loch Garten Osprey Centre</strong></h5>
      </div>
      <div class="white-card">
        <p>Located by beautiful Loch Garten, between Boat of Garten and Nethy Bridge, the centre provides an amazing opportunity to see ospreys up close, as well as a variety of other woodland creatures such as red squirrels. Children can enjoy various family activities on offer, including a chance to build their own osprey nest and go in search of the magical fairy houses.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Smarty Art, Grantown-on-Spey</strong></h5>
      </div>
      <div class="white-card">
        <p>A great wet weather option, this friendly ceramic painting studio conveniently located on the High Street provides the opportunity to create your own souvenir of your Cairngorm holiday – or whatever you like! There is a wide selection of white ceramic ware for all ages to paint and enjoy.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Strathspey Steam Railway, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>Step aboard the Strathspey steam train and travel back in time to an era when steam whistles blew, carriage doors slammed shut and there was a familiar click-clack, rhythm of the rails, as the train travelled along the track.</p>
      </div>
      <div class="green-header">
        <h5><strong>Swimming Pools</strong></h5>
      </div>
      <div class="white-card">
        <p>There are a few swimming pools to choose from - The Abernethy Trust in Nethy Bridge, Craig Maclean Leisure Centre in Grantown on Spey and the Hilton Coylumbridge family pool.</p>
      </div>
    </div>
  </div>
  <br>
</div>
<%= render 'shared/page-search' %>
<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>
