<% content_for :meta_title, "Things to do with children in Aviemore and the Cairngorms" %>
<% content_for :meta_description, "Things to do with children in Aviemore and the Cairngorms" %>
<div class="show-banner-cloudinary" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('family-small.jpg') %>');">
  <div class="header-text">
    <h1>Families</h1>
    <h4>Things to do with children in the Cairngorms National Park</h4>
  </div>
</div>
<div class="container">
  <div class="row vertical-align">
    <div class="col-xs-12 col-md-6">
      <div class="white-card">
        <h4 class="text-center">With eight young children between us, we have tried and tested just about everything that is on offer for families in Aviemore and the Cairngorms, and there is rather a lot.</h4>
        <p>Many of the lodges offer fantastic gardens and on-site play parks and all have DVD players and DVD's so your kids need never be bored even at your holiday home.</p>
        <p>The area is one big children's playground with fantastic walks around nature reserves, beaches and lochs providing plenty to see and discover. Most walking trails are accessible direct from you accommodation and most bike trails involve very little if any road work.</p>
        <p>The beach at Loch Morlich is perfect in summer or winter so don't forget your bucket and spade!</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <!-- Container for the image gallery -->
      <div class="gallery-container">

        <!-- Full-width images with number text -->
        <div class="mySlides">
          <%= image_tag('families-1.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-2.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-3.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-4.png', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-5.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-6.png', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-7.png', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-8.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('families-9.jpg', style:"width: 100%") %>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev sm" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next sm" onclick="plusSlides(1)">&#10095;</a>

        <!-- Thumbnail images -->
        <div class="gallery-row-sm">
          <div class="gallery-column-sm">
            <%= image_tag('families-1.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(1)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('families-2.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(2)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('families-3.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(3)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('families-4.png', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(4)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('families-5.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(5)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('families-6.png', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(6)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('families-7.png', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(7)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('families-8.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(8)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('families-9.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(9)") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Eating out with kids</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>La Taverna</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://www.highrange.co.uk/taverna" class="green-link", target="blank">La Taverna</a> is a family-run Italian pizzeria in Aviemore. Perfect for the kids and they have a buffet which means they can get food straight away! Very popular with locals and visitors alike. Under 3's eat for free.</p>
      </div>
      <div class="green-header">
        <h5><strong>Mountain Cafe</strong></h5>
      </div>
      <div class="white-card">
        <p>The <a href="http://mountaincafe-aviemore.co.uk/" class="green-link", target="blank">Mountain Cafe</a> is a very popular cafe in Aviemore serving home cooked breakfast and lunch and with a cake selection like you've never seen before. Great menu for kids, but be prepared to queue for a table!</p>
      </div>
      <div class="green-header">
        <h5><strong>​The Druie</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://rothiemurchus.net/food-drink/" class="green-link", target="blank">The Druie</a> is a lovely cafe selling home cook food off the Rothiemurchus Estate, with a great home made children's menu.</p>
      </div>
      <div class="green-header">
        <h5><strong>Carrbridge Kitchen</strong></h5>
      </div>
      <div class="white-card">
        <p>A lovely wee cafe in Carrbridge offering quality lunches and dinner and a fab children's menu.</p>
      </div>
      <div class="green-header">
        <h5><strong>Muckrach Country House</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://www.muckrach.com/" class="green-link", target="blank">Muckrach Lodge</a> was recently stylishly refurbished so you can enjoy a bit of luxury and fine dining but relaxed enough to have fun with the kids. Located near Carrbridge.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Roos Leap</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://www.roosleap.com/" class="green-link", target="blank">Roos Leap</a> is a relaxed Australian themed restaurant with a large variety of flavours. Located beside Aviemore train station, popular with families.</p>
      </div>
      <div class="green-header">
        <h5><strong>The Old Bridge Inn</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://www.oldbridgeinn.co.uk/" class="green-link", target="blank">The Old Bridge Inn</a> now offers a fantastic children's menu too so you can enjoy some finer dining whilst your children devour homemade fish and chips or a roast dinner.</p>
      </div>
      <div class="green-header">
        <h5><strong>The Winking Owl</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://thewinkingowl.co/" class="green-link", target="blank">The Winking Owl</a> is owned by <a href="http://www.cairngormbrewery.com/" class="green-link", target="blank">Cairngorm Brewery</a> and boasts a huge selection of real ales for mum and dad to try. A yummy home cooked children's menu is available.</p>
      </div>
      <div class="green-header">
        <h5><strong>Garth Hotel Restaurant</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://www.garthhotel.com/" class="green-link", target="blank">The Garth Hotel Restaurant</a> is a lovely traditional hotel in Grantown with a great home-cooked Scottish menu.</p>
      </div>
      <div class="green-header">
        <h5><strong>The Wee Puffin</strong></h5>
      </div>
      <div class="white-card">
        <p>A relaxed cafe in Grantown where you won't leave hungry!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Fun days out with kids</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Landmark Forest Adventure Park</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://www.landmarkpark.co.uk/" class="green-link", target="blank">Landmark</a> is fun for all the family offering everything from a roller coaster, high ropes, indoor and outdoor play areas to a new butterfly enclosure.</p>
      </div>
      <div class="green-header">
        <h5><strong>Highland Wildlife Park</strong></h5>
      </div>
      <div class="white-card">
        <p>The <a href="http://www.highlandwildlifepark.org.uk/" class="green-link", target="blank">Highland Wildlife Park</a> is home to a huge variety of sub-arctic species. Watch the huge Amur tigers getting fed, try to spot the elusive wolverine, howl with the wolf pack and then enjoy lunch with Japanese snow monkeys.</p>
      </div>
      <div class="green-header">
        <h5><strong>Swimming Pools</strong></h5>
      </div>
      <div class="white-card">
        <p>There are a few swimming pools to choose from - <a href="http://www.macdonaldhotels.co.uk/our-hotels/macdonald-aviemore-resort/resort-activities/" class="green-link", target="blank">Macdonald</a> and <a href="http://www.hiltonaviemore.com/play/resort-activities" class="green-link", target="blank">The Hilton Hotel</a>, <a href="http://www.abernethy.org.uk/our-centres/nethybridge/" class="green-link", target="blank">Abernethy</a> and <a href="http://resorts.macdonaldhotels.co.uk/lochanhully/health-and-leisure/" class="green-link", target="blank">Lochanhully</a>. Offering slides and wave machine.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Highland Folk Museum</strong></h5>
      </div>
      <div class="white-card">
        <p>Step back in time at the <a href="https://www.highlifehighland.com/highlandfolkmuseum/" class="green-link", target="blank">Highland Folk Museum</a> as you discover how we used to live. Complete with a lovely cafe and great children's play park.</p>
      </div>
      <div class="green-header">
        <h5><strong>Soft Play</strong></h5>
      </div>
      <div class="white-card">
        <p>If the Scottish weather turns against you there are large soft play areas at the <a href="http://www.macdonaldhotels.co.uk/our-hotels/macdonald-aviemore-resort/resort-activities/" class="green-link", target="blank">Macdonald Hotel</a> and <a href="http://www.funhouseaviemore.com/" class="green-link", target="blank">The Fun House</a> which are open to the public.</p>
      </div>
      <div class="green-header">
        <h5><strong>Blair Castle</strong></h5>
      </div>
      <div class="white-card">
        <p><a href="http://www.blair-castle.co.uk/" class="green-link", target="blank">Blair Castle</a> is home to the UK's only private Army, the castle and it's gardens are a stunning example of Scottish history.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Cairngorm Reindeer Herd</strong></h5>
      </div>
      <div class="white-card">
        <p>With a short trek up <a href="http://www.cairngormmountain.org/" class="green-link", target="blank">Cairngorm Mountain</a>, you can visit the UK's only <a href="http://www.cairngormreindeer.co.uk/" class="green-link", target="blank">wild reindeer herd</a>. If you don't fancy the walk, there are always a few reindeer ready to greet you at the <a href="http://scotland.forestry.gov.uk/forest-parks/glenmore-forest-park/glenmore-visitor-centre" class="green-link", target="blank">Visitors Centre</a> near Glenmore.</p>
      </div>
      <div class="green-header">
        <h5><strong>Funicular Railway</strong></h5>
      </div>
      <div class="white-card">
        <p>Ride to the top of <a href="http://www.cairngormmountain.org/funicular-railway/" class="green-link", target="blank">Cairngorm</a> and experience some breathtaking views, before sampling some treats from the UK's highest restaurant.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Strathspey Steam Railway</strong></h5>
      </div>
      <div class="white-card">
        <p>Ride on the <a href="http://strathspeyrailway.co.uk/" class="green-link", target="blank">old steam railway</a> through the valley. There are often special kids days where characters such as Peppa Pig and Santa come to visit.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Rothiemurchus Estate</strong></h5>
      </div>
      <div class="white-card">
        <p>A wide range of activities suitable for kids of all ages are on offer at the <a href="http://rothiemurchus.net/" class="green-link", target="blank">Rothiemurchus Estate</a>, including Highland Pony Trekking and High Ropes. The Visitor Centre will be able to give you all of the information and make all of the bookings that you need.</p>
      </div>
      <div class="green-header">
        <h5><strong>​Ballindalloch Castle</strong></h5>
      </div>
      <div class="white-card">
        <p>Open to the public from Easter to the end of September, <a href="http://www.ballindallochcastle.co.uk/" class="green-link", target="blank">Ballindalloch Castle</a> has all you need for a lovely family day out. Just a 30-minute drive north of Nethy Bridge, there you will find llamas, donkeys, a children’s playground complete with many ride-on tractors, a grass labyrinth, beautiful gardens perfect for hide-and-seek, a great cafe and even its own golf course!</p>
      </div>
    </div>
  </div>
  <br>
</div>
<%= render 'shared/page-search' %>
<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>
