<% content_for :meta_title, @page&.meta_title %>
<% content_for :meta_description, @page&.meta_description %>
<div class="show-banner-cloudinary" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('faq-small.jpg') %>');">
  <div class="header-text">
    <h1>Frequently Asked Questions</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="text-center">We have tried to provide lots of information for you on this page but if you still have queries then please do <%= link_to 'get in touch', pages_contact_path, target: :_blank, class: "green-link" %>.</h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <div id="accordion">
        <div class="green-header">
          <h5><strong>What is included in the lodges? Are bed linen and towels included?</strong></h5>
        </div>
        <div class="white-card no-margin">
          <p>All the lodges provide all bed linen and towels. They also include kitchen linen and washing up supplies. Handwash is also provided and some provide some shampoo and shower gel. All the kitchens are fully fitted with fridge, freezers, microwaves and a large selection of crockery and utensils. Hairdryers are also provided in all. Free unlimited logs for the wood burners is also provided in most of our lodges.</p>
        </div>
        <div class="green-header">
          <h5><strong>Is there WIFI at the lodges?</strong></h5>
        </div>
        <div class="white-card no-margin">
          <p>All of the lodges have free WIFI and details can be found in the lodges. Most bars, restaurants and cafes in the area offer free WIFI. WIFI can sometimes be a bit slower than you will find in cities and most probably won't be streaming speed.</p>
        </div>
        <div class="green-header">
          <h5><strong>Do I need a 4x4 to get there?</strong></h5>
        </div>
        <div class="white-card no-margin">
          <p>A four wheel drive car is not necessary. All of the lodges are located close to a main road and in the winter all roads are ploughed and salted. Some of our lodges are walking distance to local transport links and there are some very good local taxi firms so a car may not be necessary at all.</p>
          <p>​Some of the lodges are down a woodland track so driving slowly and carefully is advised but again these are maintained throughout the summer and winter.</p>
        </div>
        <div class="green-header">
          <h5><strong>What standard are the lodges?</strong></h5>
        </div>
        <div class="white-card no-margin">
          <p>We only work with the best owners and handpick the best lodges in the best locations for you. All of the lodges are inspected prior to every guests arrival. We pride ourselves in being able to offer our guests a unique type of luxury.</p>
        </div>
        <div class="green-header">
          <h5><strong>Are pets allowed?</strong></h5>
        </div>
        <div class="white-card no-margin">
          <p>Of course pets are allowed! Many people bring their dogs to stay and we've even welcomed cats and pet rabbits in the past! We normally limit this to 2 well behaved dogs however if you have more then 2 please do give us a call and we can advise on which lodges are most suitable and more spacious. There is a £25 charge for each dog to cover extra cleaning.</p>
          <p>There are many fantastic doggy walks right from your doorsteps.</p>
        </div>
        <div class="green-header">
          <h5><strong>When does the mountain open for snowsports?</strong></h5>
        </div>
        <div class="white-card no-margin">
          <p>This is always a hard one to answer! Typically the mountain is ready for snowsports by Christmas and the season normally runs through to the end of April. However it has on occasion opened during November and run through to June, whist the rest of us are enjoying the spring sunshine in the valley! It doesn't get better than that!</p>
        </div>
        <div class="green-header">
          <h5><strong>What time is check in and check out?</strong></h5>
        </div>
        <div class="white-card no-margin">
          <p>Check in at 4pm.</p>
          <p>Check out is at 10am.</p>
        </div>
        <div class="green-header">
          <h5><strong>Will someone be there to meet us when we arrive?</strong></h5>
        </div>
        <div class="white-card no-margin">
          <p>We are delighted to come and meet you when you arrive if you would like us to do so otherwise, we can leave a key in the key safe outside the lodge - just let us know what you would prefer.</p>
        </div>
        <div class="green-header">
          <h5><strong>Are there any additional charges?</strong></h5>
        </div>
        <div class="white-card no-margin">
          <p>You can choose to add cots and high chairs at the time of booking. Once you have made your booking there will be no extra charges at departure (unless significant damage has occurred. Please see below about security deposits and our <%= link_to 'terms and conditions', pages_terms_and_conditions_path, target: :_blank, class: "green-link" %>).</p>
        </div>
        <div class="green-header">
          <h5><strong>What is the Security Deposit?</strong></h5>
        </div>
        <div class="white-card no-margin">
          <p>For your security deposit, a reserve of £200, £300, or £500 (depending on the size of lodge) will be placed on the card that you used to pay your deposit. The hold will start no more than two business days before you arrive and will be released two business days after you depart. Should any charges need to be made you will be contacted before hand.</p>
          <p>Charges are very rarely levied.</p>
        </div>
        <div class="green-header">
          <h5><strong>How should we leave our lodge?</strong></h5>
        </div>
        <div class="white-card no-margin">
          <p>All we ask is that you leave your lodge tidy and please do your washing up. It is not necessary to strip the beds or hoover. Unless you really want to!</p>
          <p>We'd like you to take your bins out and recycle where you can. Details of what can be recycled and where bins are located can be found inside your lodge.</p>
        </div>
        <div class="green-header">
          <h5><strong>Do I need holiday insurance?</strong></h5>
        </div>
        <div class="white-card no-margin">
          <p>We do not provide holiday insurance and our full cancellation policy can be found in our <%= link_to "T's and C's", pages_terms_and_conditions_path, target: :_blank, class: "green-link" %>. We therefore recommend that you take out adequate holiday insurance. Please be aware that depending on your policy you may have to take out extra insurance to cover you for snow sports or any specialised kit that you many wish to bring.</p>
        </div>
        <div class="green-header">
          <h5><strong>What if I want to cancel my holiday?</strong></h5>
        </div>
        <div class="white-card no-margin">
          <p>By making your booking you enter into a legal contract with us and your deposit is non-refundable.</p>
          <p>All cancellations must be notified in writing and received by Seasgair prior to confirmation of cancellation charges. If you do not receive acknowledgement from us or receipt of your cancellation letter you must assume it has not been received. We strongly recommend you take out holiday insurance which includes cancellation expenses.</p>
        </div>
        <div class="green-header">
          <h5><strong>What if there is a problem during my stay?</strong></h5>
        </div>
        <div class="white-card no-margin">
          <p>There is a list of useful numbers in your lodge information pack and we hope we have included as much information as you may need about the workings of each lodge. However if you still have queries, we are on hand to help in any way we can, just <%= link_to 'drop us a note or give us a call', pages_contact_path, target: :_blank, class: "green-link" %> if it is urgent.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<%= render 'shared/page-search' %>
<script>
  $( function() {
    $( "#accordion" ).accordion({
      collapsible: true,
      heightStyle: "content"
    });
  } );
</script>
