<% content_for :meta_title, "Pet friendly accommodation" %>
<% content_for :meta_description, "Things to do with your dog in Aviemore and the Cairngorms" %>
<div class="show-banner-cloudinary" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('pet-friendly-crop.jpg') %>')">
  <div class="header-text">
    <h1>Pet friendly self catering lodges</h1>
    <h4>Things to do in Aviemore and the Cairngorms with a dog</h4>
  </div>
</div>
<div class="container">
  <div class="row vertical-align">
    <div class="col-xs-12 col-md-6">
      <div class="white-card">
        <h3 class="text-center">All of our handpicked lodges are pet friendly</h3>
        <p>We don't believe that your four-legged friends should miss out on your holiday especially in an area that was made for dogs! There are endless walks right from your doorstep, lochs to swim in and some lovely, dog-friendly eateries to refresh after a long walk or quick dip.</p>
        <p>Most of the lodges have enclosed verandas or gardens and provide dog bowls.</p>
        <p>Find out more about our <%= link_to "Dog Friendly Accommodation", posts_path %> in our <%= link_to "Blog", posts_path %></p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <!-- Container for the image gallery -->
      <div class="gallery-container">

        <!-- Full-width images with number text -->
        <div class="mySlides">
          <%= image_tag('pets-1.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('pets-2.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('pets-3.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('pets-4.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('pets-5.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('pets-7.png', style:"width: 100%") %>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev sm" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next sm" onclick="plusSlides(1)">&#10095;</a>

        <!-- Thumbnail images -->
        <div class="gallery-row-sm">
          <div class="gallery-column-sm">
            <%= image_tag('pets-1.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(1)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('pets-2.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(2)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('pets-3.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(3)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('pets-4.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(4)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('pets-5.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(5)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('pets-7.png', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(6)") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Our favourite walks</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Loch an Eilein</strong></h5>
      </div>
      <div class="white-card">
        <p>If you are not lucky enough to be staying at Loch an Eilein Cottage, you can still enjoy a lovely stroll around this stunning loch (voted Britain's favourite picnic spot). It takes about 1.5 hours to walk the whole way round and is a great, safe place for your hounds to take a dip. This loch is within walking distance of many of the lodges.</p>
      </div>
      <div class="green-header">
        <h5><strong>Loch Morlich</strong></h5>
      </div>
      <div class="white-card">
        <p>On the way up towards Cairngorm Mountain, Loch Morlich is hidden amongst the pine forest with the simply stunning back drop of the Cairngorms. It is extremely popular during the summer months where people swim, sunbathe on the beach and partake in a huge range of water sports. This is a perfect place to take a doggy walk around the loch or start a walk into the wilderness of the Cairngorm National Park.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Green Lochan</strong></h5>
      </div>
      <div class="white-card">
        <p>Follow the path from Glenmore Lodge and you'll soon discover this beautiful loch that glows a magical emerald green when the sun shines. There are a few routes home from here or you can simply keep going and follow the path all the way to Abernethy (about 15km).</p>
      </div>
      <div class="green-header">
        <h5><strong>​Craigellachie Hill</strong></h5>
      </div>
      <div class="white-card">
        <p>Perfect for a quick walk as it's right next-door to Aviemore. You start from the Aviemore Youth Hostel and can get to the top within about 60 minutes. Located at the other side of the valley from Cairngorm Mountain, it offers the most stunning views of the mountain range and the Lairig Ghru. As a designated nature reserve, it is also great for bird and animal watching too. ​</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Dog Friendly Eateries</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Old Bridge Inn</strong></h5>
      </div>
      <div class="white-card">
        <p>Located to the South side of Aviemore this traditional <a href="http://www.oldbridgeinn.co.uk/" class="green-link", target="blank">Inn</a> offers a huge selection of whisky, real ales and a delicious menu comprising locally sourced food. During the summer your dog can run around and swim in the River Spey right from the beer garden, and in the winter they can curl up by the wood burner in the cosy bar.</p>
      </div>
      <div class="green-header">
        <h5><strong>Mambos</strong></h5>
      </div>
      <div class="white-card">
        <p>Located in the centre of Aviemore and selling one of the best hot chocolates around.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Ben Macdui's Inn</strong></h5>
      </div>
      <div class="white-card">
        <p>A fun bar/restaurant day and night. Serving real local ales and a delicious range of meals and snacks.</p>
      </div>
      <div class="green-header">
        <h5><strong>Doo Below</strong></h5>
      </div>
      <div class="white-card">
        <p>Dogs are allowed downstairs in the bar area of this fun apres ski bar. Great all year round but especially good after a good day out in the snow.</p>
      </div>
      <div class="green-header">
        <h5><strong>Nethy House</strong></h5>
      </div>
      <div class="white-card">
        <p>A delightful little cafe with home cooked food and fantastic coffee in the heart of Nethy Bridge, welcoming dogs and their humans.</p>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/page-search' %>
<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>
