<% content_for :meta_title, "Pet friendly accommodation" %>
<% content_for :meta_description, "Things to do with your dog in Aviemore and the Cairngorms" %>
<div class="show-banner-cloudinary" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('pet-friendly-crop.jpg') %>')">
  <div class="header-text">
    <h1>Pet friendly self catering lodges</h1>
    <h4>Things to do in Aviemore and the Cairngorms with a dog</h4>
  </div>
</div>
<div class="container">
  <div class="row vertical-align">
    <div class="col-xs-12 col-md-6">
      <div class="white-card">
        <h3 class="text-center">Most of our handpicked lodges are pet friendly</h3>
        <p>We don't believe that your four-legged friends should miss out on your holiday especially in an area that was made for dogs! There are endless walks right from your doorstep, lochs to swim in and some lovely, dog-friendly eateries to refresh after a long walk or quick dip.</p>
        <p>Most of the lodges have enclosed verandas or gardens and provide dog bowls.</p>
        <p>Find out more about our <%= link_to "Dog Friendly Accommodation", properties_path, target: :_blank, class: "green-link" %> in our <%= link_to "Blog", posts_path, target: :_blank, class: "green-link" %></p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <!-- Container for the image gallery -->
      <div class="gallery-container">

        <!-- Full-width images with number text -->
        <div class="mySlides">
          <%= image_tag('pets-1.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('pets-2.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('pets-3.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('pets-4.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('pets-5.jpg', style:"width: 100%") %>
        </div>
        <div class="mySlides">
          <%= image_tag('pets-7.png', style:"width: 100%") %>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev sm" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next sm" onclick="plusSlides(1)">&#10095;</a>

        <!-- Thumbnail images -->
        <div class="gallery-row-sm">
          <div class="gallery-column-sm">
            <%= image_tag('pets-1.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(1)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('pets-2.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(2)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('pets-3.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(3)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('pets-4.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(4)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('pets-5.jpg', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(5)") %>
          </div>
          <div class="gallery-column-sm">
            <%= image_tag('pets-7.png', style:"width: 100%", class: "demo cursor", onclick:"currentSlide(6)") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Our favourite dog walks</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Loch an Eilein</strong></h5>
      </div>
      <div class="white-card">
        <p>Enjoy a lovely stroll around this stunning loch (voted Britain’s favourite picnic spot). It takes about 1.5 hours to walk the whole way round and is a great, safe place for your hound to take a dip.</p>
      </div>
      <div class="green-header">
        <h5><strong>Loch Morlich</strong></h5>
      </div>
      <div class="white-card">
        <p>On the way up towards Cairngorm Mountain, Loch Morlich is hidden amongst the pine forest with the simply stunning backdrop of the Cairngorms. It is extremely popular during the summer months where people swim, sunbathe on the beach and partake in a huge range of water sports. This is the perfect place to take a doggy walk around the loch or start a walk into the wilderness of the Cairngorm National Park.</p>
      </div>
      <div class="green-header">
        <h5><strong>Green Lochan</strong></h5>
      </div>
      <div class="white-card">
        <p>Follow the path from Glenmore Lodge and you’ll soon discover this beautiful loch that glows a magical emerald green when the sun shines. There are a few routes home from here or you can simply keep going and follow the path all the way to Abernethy (about 15km).</p>
      </div>
      <div class="green-header">
        <h5><strong>​Craigellachie Hill</strong></h5>
      </div>
      <div class="white-card">
        <p>Starting from the Aviemore Youth Hostel you can get to the top of Craigellachie within about 60 minutes. Located at the other side of the valley from Cairngorm Mountain it offers the most stunning view of the mountain range and the Lairig Ghru. As a designated nature reserve, it is also great for bird and animal watching too.​</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>​Boat of Garten</strong></h5>
      </div>
      <div class="white-card">
        <p>The woods in Boat of Garten are a great place to take your dog for a walk. With different routes to choose from: Red squirrel trail (3 miles), Heron trail (under 1 mile), Salmon trail (2 ½ miles), Pine Martin trail (7 mies) and Roe Deer trail (1 ½ miles), you’re spoilt for choice. Please note that these woods are home to the capercaillie and dogs should be kept on a lead during the breeding season (April to August).</p>
      </div>
      <div class="green-header">
        <h5><strong>​Nethy Bridge</strong></h5>
      </div>
      <div class="white-card">
        <p>Starting from the Community Centre at Nethy Bridge, there’s a lovely riverside walk where your dog can dip in and out of the river as you make your way along and there’s lots of wildlife to spot on the way. Beautiful Dell woods (a National Nature Reserve) is another great place to take the dog. An easy walk on good, waymarked paths with a few benches dotted around the routes should you fancy a snack/picnic stop. And very handy if you’re staying at Foresters Lodge as the woods are right behind the house!</p>
      </div>
      <div class="green-header">
        <h5><strong>​Carrbridge</strong></h5>
      </div>
      <div class="white-card">
        <p>Ellan wood can be found on the fringes of Carrbridge. It’s partly owned by the Woodland Trust and has several short waymarked trails. There’s also the Carr plantation trail which is a longer route through mature woodland (2 ¾ miles).</p>
      </div>
      <div class="green-header">
        <h5><strong>​Grantown-on-Spey</strong></h5>
      </div>
      <div class="white-card">
        <p>Anagach Woods in Grantown-on-Spey is a beautiful natural Scots pine wood.  There are several marked routes (green, blue and red) around these woods and it’s also home to lots of wildlife including the Scottish crossbill and capercaillie.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Dog Friendly Eateries</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>Ben Macdui’s Inn, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>A fun bar/restaurant day and night. Serving real ales and a delicious range of meals and snacks.</p>
      </div>
      <div class="green-header">
        <h5><strong>Doo Below, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>Dogs are allowed downstairs in the bar area of this fun apres ski bar. Great all year round but especially good after a day out in the snow.</p>
      </div>
      <div class="green-header">
        <h5><strong>Mambos, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>Located in the centre of Aviemore and selling one of the best hot chocolates around.</p>
      </div>
      <div class="green-header">
        <h5><strong>Nethy House Café, Nethy Bridge</strong></h5>
      </div>
      <div class="white-card">
        <p>A delightful little café with home cooked food and fantastic coffee in the heart of Nethy Bridge, welcoming dogs and their humans.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="green-header">
        <h5><strong>The Boat Country Inn and Restaurant, Boat of Garten</strong></h5>
      </div>
      <div class="white-card">
        <p>Offering a casual and hearty seasonal pub-style menu with their own take on classic dishes and speciality nights throughout the week. The cosy bar offers an extensive selection of over 50 whiskies and variety of gin.</p>
      </div>
      <div class="green-header">
        <h5><strong>The Cairn Hotel, Carrbridge</strong></h5>
      </div>
      <div class="white-card">
        <p>You can enjoy a country pub atmosphere with a real log fire on a chilly day or outdoor seating on a sunny day. They serve great pub lunches and suppers, always with some friendly banter and maybe some real ale or a wee dram.</p>
      </div>
      <div class="green-header">
        <h5><strong>The Old Bridge Inn, Aviemore</strong></h5>
      </div>
      <div class="white-card">
        <p>Located to the south side of Aviemore, this traditional inn offers a huge selection of whisky, real ales and a delicious menu comprising locally-sourced food. During the summer your dog can run around and swim in the River Spey right from the beer garden, and in the winter they can curl up by the wood burner in the cosy bar.</p>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/page-search' %>
<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>
