<% content_for :meta_title, "Reviews of the lodges" %>
<% content_for :meta_description, "Reviews of the Handpicked Lodges" %>
<div class="show-banner-cloudinary" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_path('reviews-small.jpg') %>');">
  <div class="header-text">
    <h1>Reviews of our lodges</h1>
    <h4>You don't have to take our word for how fantastic our handpicked lodges are.</h4>
    <h4>Here's what some of our guests have to say</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="accordion">
        <% @properties.each do |property| %>
          <div class="green-header">
            <h5><strong><%= property.name if property %></strong></h5>
          </div>
          <div>
            <% property.reviews.each do |review| %>
              <div class="white-card text-center">
                <p><em>"<%= review.content %>"</em></p>
                <p><%= review.date %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/page-search' %>
<script>
  $( function() {
    $( "#accordion" ).accordion({
      collapsible: true,
      heightStyle: "content"
    });
  } );
</script>
