<% content_for :meta_title, @page&.meta_title %>
<% content_for :meta_description, @page&.meta_description %>
<div id="wrap">
  <div id="image-cycler">
    <%= image_tag('community/loch_morlich.jpg') %>
    <%= image_tag('community/cairngorms_dawn_forest.jpg') %>
    <%= image_tag('community/cairngorms_winter.jpg') %>
  </div>
  <div id="home-header" class="header-text">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7">
          <%= image_tag("community/seasgair_community.png", width: "180", style: 'padding-top: 20px; padding-bottom: 20px;') %>
          <p><strong>The Cairngorms and Perthshire - the heritage, the people and the glorious natural surroundings, they're incredible!  Best of all, we’re able to share each of these with you when you stay.</strong></p>
        </div>
      </div>
    </div>
  </div>
  <% unless mobile_device? %>
    <section id="home-scroll" class="scroll-btn">
      <a href="#scroll-content"><span></span></a>
    </section>
  <% end %>
</div>
<section id="scroll-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>We want to safeguard the environment, strengthen our community and promote responsible tourism, for you, for future guests and future generations. Seasgair recognises the scale and speed of the climate crisis on our hands. We are proud to be stepping up to the mark by actively caring for our local habitat, planting trees, rewilding and doing our best to help and support those around us. Seasgair encourages you to get involved too, whether whilst on holiday or once you return home.</p>
        <p>We are delighted to work with Disability Snowsport UK (DSUK) and Save The Planet Academy via a donation from each guest booking. We also partner with Scotland: The Big Picture through the sponsorship of local projects. Our team actively raise funds throughout the year, by taking part in challenges and events.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2>Making a Difference</h2>
        <h4>Together we have made the following positive impact</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="link-card-container">
          <div class="link-card-cloudinary" style="background-image: url('<%= image_path('community/childrens_forest.jpg') %>');">
          </div>
          <div class="link-card-content">
            <h4><%= @community&.childrens_forest_trees %> Trees planted by Children's Forest</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="link-card-container">
          <div class="link-card-cloudinary" style="background-image: url('<%= image_path('community/garden.jpg') %>');">
          </div>
          <div class="link-card-content">
            <h4><%= @community&.seasgair_trees %> Trees planted in guest gardens or Seasgair lodges</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="link-card-container">
          <div class="link-card-cloudinary" style="background-image: url('<%= image_path('community/trees.jpg') %>');">
          </div>
          <div class="link-card-content">
            <h4><%= @community&.eden_reforestation_trees %> Trees donated to the Eden Reforestation Project</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="link-card-container">
          <div class="link-card-cloudinary" style="background-image: url('<%= image_path('community/sit_skis.jpg') %>');">
          </div>
          <div class="link-card-content">
            <h4>£<%= @community&.donation %> Donation from guest bookings and staff fundraising</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="link-card-container">
          <div class="link-card-cloudinary" style="background-image: url('<%= image_path('community/red_squirrel.jpg') %>');">
          </div>
          <div class="link-card-content">
            <h4><%= @community&.rewilding_sponsorship %> Acre Area of land sponsored for rewilding</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="link-card-container">
          <div class="link-card-cloudinary" style="background-image: url('<%= image_path('community/private_forest.jpg') %>');">
          </div>
          <div class="link-card-content">
            <h4>Recipients of the Green Tourism Silver Award</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="grey-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>SCOTLAND: The Big Picture</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="link-card-cloudinary image-margin" style="background-image: url('<%= image_path('community/SBP_logo.jpg') %>'); height: 270px;">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8">
        <p>SCOTLAND: The Big Picture is rewriting nature’s story, seeking to return abundance and diversity of life to Scotland’s land and seas, so that wildlife can flourish and people thrive.</p>
        <p>Be part of the conversation and make some noise. Share SCOTLAND: The Big Picture's rewilding stories, visit local rewilding initiatives, and gain a better understanding, or a new perspective.</p>
        <h5><strong>Seasgair are proud to:</strong></h5>
        <ul>
          <li>Sponsor local rewilding projects</li>
          <li>Make a donation each time a guest buys a Spa Pack</li>
          <li>Help raise awareness and share the story</li>
        </ul>
        <h5>Be inspired, be involved. What <strong>you</strong> can do:</h5>
        <ul>
          <li>Download and enjoy <%= link_to 'Pinelands', 'https://www.scotlandbigpicture.com/Store/ebooks/ebook-pinelands', target: :_blank, class: 'green-link' %>, a book packed full of stunning photography and powerful images of Scottish nature</li>
          <li>Watch the <%= link_to 'Scottish Rewilding Alliance animation', 'https://www.youtube.com/watch?v=ZR2sPQHUt_4', target: :_blank, class: 'green-link' %>
          </li>
          <li>Put wild into your everyday life. Begin to make small changes - <%= link_to 'MeWilding', 'https://www.scotlandbigpicture.com/Store/ebooks/mewilding-ebook', target: :_blank, class: 'green-link' %> is rewilding for everyone!</li>
          <li>Donate via the <%= link_to 'Seasgair Community Giving Page', 'https://www.scotlandbigpicture.com/donate-SeasgairLodges', target: :_blank, class: 'green-link' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Disability Snowsports UK (DSUK)</h2>
    </div>
    <div class="col-xs-12 col-sm-8">
      <p>‘When I became disabled my whole world changed. I needed something that would make me feel alive again, something that would make me feel the blood pumping around my body and give me the thrill that I needed in my life. Thank you DSUK!’ Claire, Adaptive Skier</p>
      <p>DSUK believe that taking part in adaptive snowsport has the power to transform a person’s relationship with not just their disability, but with all aspects of their lives. DSUK believe that all people have the right to access the unique physical, mental, and social benefits of snowsport, regardless of disability, injury, or experience.</p>
      <p>Their fantastic team of instructors, volunteers and members shows that DSUK really does change lives of disabled communities and their families.</p>
      <h5><strong>Seasgair are proud to:</strong></h5>
      <ul>
        <li>Make a donation from each guest booking</li>
        <li>Cheer Judith on, as she raced the Strathspey Steam train</li>
        <li>Raise funds by climbing Ben Nevis and taking part in the Aviemore Santa Run with our families</li>
      </ul>
      <h5>Be inspired, be involved. What <strong>you</strong> can do:</h5>
      <ul>
        <li>Find out more about DSUK’s work and exciting fundraising opportunities. Contact the team at <a href="mailto:fundraising@disabilitysnowsport.org.uk" class="green-link">fundraising@disabilitysnowsport.org.uk</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="link-card-cloudinary" style="background-image: url('<%= image_path('community/DSUK_logo.jpg') %>'); height: 320px;">
      </div>
    </div>
  </div>
</div>

<div class="grey-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Save the Planet Academy</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="link-card-cloudinary image-margin" style="background-image: url('<%= image_path('community/STPA_logo.png') %>'); height: 220px; box-shadow: none;">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8">
        <p><%= link_to 'Save The Planet Academy', 'https://www.savetheplanet.academy', target: :_blank, class: 'green-link' %> is an eco enterprise with a vision of creating a children’s forest. The website was created by Crieff based 10 year old Brandon Delaney in response to a school entrepreneur assignment.</p>
        <p>The website challenges schools, organisations and individuals to either buy eco-friendly products from the site which fund tree planting, or to plant trees themselves - at home, at school or in the community. The trees planted are logged on site and you can watch the Children’s Forest grow.</p>
        <p>The school educational programme empowers children to be ‘hands on’ and take action by sowing, planting and visiting trees. It also provides a wider focus around environmental, community and climate issues.</p>
        <h5><strong>Seasgair are proud to:</strong></h5>
        <ul>
          <li>Make a donation from each guest booking to fund two projects - Children's Forest (UK) and the Eden Reforestation Project working in Kenya</li>
          <li>Encourage everyone to be proactive and plant trees</li>
        </ul>
        <h5>Be inspired, be involved. What <strong>you</strong> can do:</h5>
        <ul>
          <li>Work together for a brighter future, take a look at the website and Facebook Page</li>
          <li>Make a difference, plant a tree at home. Map it on the website and watch the Children’s Forest grow</li>
          <li>Sponsor a local tree champion to plant a tree in your name</li>
          <li>Become a tree champion - engage your school in the educational programme</li>
          <li>Support the Eden Reforestation Project working in Kenya, shop the eco-friendly products on site</li>
          <li>Start your own initiative via the Eco-Refill Station business in a box</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="white-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="flex-between" style="justify-content: start;">
          <h3 class="text-center" style="padding-right: 20px;">Be inspired, be involved, join our</h3>
          <div class="center-block">
            <%= image_tag("community/seasgair_community.png", width: "180", style: 'padding-top: 20px;') %>
            <div class="social-icons">
              <a href="https://www.facebook.com/seasgaircommunity/" target="blank"><%= fa_icon "facebook" %></a>
              <a href="https://www.instagram.com/seasgaircommunity/" target="blank"><%= fa_icon "instagram" %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4>Sustainability</h4>
      <p>Our team love living and working locally, enjoying the mountains, lochs, woodland and forests. Within both our business and everyday lives we seek to make minimal impact through careful management of our actions. We use recycled products where possible, conserve energy and water use, ensure efficient local travel, reduce waste and recycle.</p>
      <p>We support the local economy - using services and suppliers with a similar ethos. We promote wonderful local products made by artisan producers, showcasing these in our guest Welcome Packs. We encourage guests to shop locally and experience service underpinned by local pride and knowledge.</p>
      <p>Many of our lodges have wildlife feeders, attracting native species including red squirrel and pine marten, alongside information for guests about the ecology of the area.</p>

      <h4>Electric Vehicle Charging Stations</h4>
      <p>Craigard Lodge has a 7kW ‘Type 2’ electric car charging point for guest use. Local electric vehicle charging stations can be found via the site below: <a href="http://www.chargeplacescotland.org" target="blank" class="green-link">www.chargeplacescotland.org</a></p>

      <h4>Accessibility</h4>
      <p>Each Seasgair lodge is unique and characterful, as such we hope that guests of varying ages and abilities can enjoy a stay with us. Several lodges have downstairs bedrooms with en suite walk-in showers, alongside spacious living areas. The ground floor of Alltnacriche is fully accessible for wheelchair users, has wide doors and sufficient space around furniture.</p>
      <p>If you have any questions or would like to discuss specific requirements, please <a href="mailto:hello@seasgairlodges.com" class="green-link">contact us</a></p>
    </div>
  </div>
</div>
