<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <%= simple_form_for([:admin, @post]) do |f| %>
        <div class="form-group">
          <%= f.input :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
        <% if @post.photo? %>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="white-card">
                <p><strong>Current main photo</strong></p>
                <div class="link-card-cloudinary" style="background-image: url('<%= cl_image_path @post.photo, height: 300, width: 300, crop: :fill %>');">
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.input :body, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.button :submit, class: "btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
