<div class="show-banner">
  <div class="header-text">
    <h1 class="text-center">Handpicked Lodges Blog</h1>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col">
      <% @posts.each do |post| %>
        <div class="link-card-container">
          <%= link_to post_path(post) do %>
            <div class="link-card-cloudinary" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path post.photo %>');">
            </div>
            <div class="link-card-content">
              <h4><%= post.title %></h4>
              <p><%= post.created_at.strftime('%d %b, %Y') %></p>
              <p><%= raw post.body.truncate(400) %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% unless mobile_device? %>
      <div class="col-xs-12 col-sm-4" id="posts-sidebar">
        <h4>Recent posts</h4>
        <% @posts.each do |post| %>
          <p><%= link_to "#{post.title} (#{post.created_at.strftime('%d %b, %Y')})", post_path(post) %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
