<% content_for :meta_title, "Seasgair - #{@post.title}" %>
<% content_for :meta_description, "#{strip_tags @post.body.truncate(300)}" %>
<% content_for :meta_image, rails_representation_url(@post.image_meta_variant) %>
<div class="show-banner-cloudinary" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= rails_representation_url @post.image_hero_variant %>');">
  <div class="header-text">
    <h1><%= @post.title %></h1>
    <h4><%= @post.created_at.strftime('%d %b, %Y') %></h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="post-body"><%= raw @post.body %></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <% if @previous_post %>
        <h4>Previous Blog</h4>
        <div class="link-card-container">
          <%= link_to post_path(@previous_post) do %>
            <div class="link-card-cloudinary" style="background-image: url('<%= rails_representation_url @previous_post.image_card_variant %>');">
            </div>
            <div class="link-card-content">
              <h4><%= @previous_post.title %></h4>
              <p><%= @previous_post.created_at.strftime('%d %b, %Y') %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4"></div>
    <div class="col-xs-12 col-md-4">
      <% if @next_post %>
        <h4 class="text-right">Next Blog</h4>
        <div class="link-card-container">
          <%= link_to post_path(@next_post) do %>
            <div class="link-card-cloudinary" style="background-image: url('<%= rails_representation_url @next_post.image_card_variant %>');">
            </div>
            <div class="link-card-content">
              <h4><%= @next_post.title %></h4>
              <p><%= @next_post.created_at.strftime('%d %b, %Y') %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<!--   <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h4>Read our other blog posts here</h4>
    </div>
  </div> -->
</div>
