<% i = 2 %>
<% @property.photos.order(created_at: :asc).each do |photo| %>
  <% if photo.picture.attached? && photo.picture.attachment.blob.present? && photo.picture.attachment.blob.persisted? %>
    <div data-photo-id="<%= photo.id %>">
      <div class="col-xs-12 col-sm-3">
        <div class="white-card">
          <p><strong>AWS Photo:</strong> Reload page to check</p>
          <% if photo.key? %>
            <p><strong>Key Photo: <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></strong></p>
          <% end %>
          <p></p>
          <div class="link-card-cloudinary image-margin" style="background-image: url('<%= rails_blob_url photo.picture.variant(resize_to_limit: [300, 300]) %>');">
          </div>
          <%= link_to 'Edit', edit_admin_photo_path(photo),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-default'} %>
          <%= link_to 'Delete', [:admin, photo], method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
  <% unless photo.image.blank? %>
    <div data-photo-id="<%= photo.id %>">
      <div class="col-xs-12 col-sm-3">
        <div class="white-card">
          <p><strong>Photo:</strong> <%= i %></p>
          <% if photo.key? %>
            <p><strong>Key Photo: <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></strong></p>
          <% end %>
          <div class="link-card-cloudinary image-margin" style="background-image: url('<%= cl_image_path photo.image, height: 300, width: 300, crop: :fill %>')">
          </div>
          <%= link_to 'Edit', edit_admin_photo_path(photo),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-default'} %>
          <%= link_to 'Delete', [:admin, photo], method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
  <% i += 1 %>
<% end %>
