<%= simple_form_for ([:admin, @property]) do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Lodge SEO</h3>
      </div>
      <br>
    </div>
  </div>
  <%= f.input :meta_title %> <p>Limit of 80 characters, Google will likely truncate at around 70 characters</p>
  <%= f.input :meta_description %> <p>Limit of 300 characters</p>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Lodge Details</h3>
      </div>
      <br>
    </div>
  </div>
  <%= f.input :enabled, label: "Lodge visible and active on website" %>
  <%= f.input :code, label: "SuperControl Property Code" %>
  <%= f.input :min_daily_price, label: "SuperControl: Minimum daily price of lodge" %>
  <%= f.input :name, label: "Lodge Name" %>
  <%= f.input :sleeps %>
  <%= f.input :bedrooms, label: "No. of bedrooms" %>
  <%= f.input :bathrooms, label: "No. of bathrooms" %>
  <%= f.input :headline, label: "Lodge Headline" %>
  <%= f.input :description, label: "Lodge's main description" %>
  <%= f.input :we_love, label: "What we love" %>
  <%= f.input :guests_love, label: "What guests love" %>
  <%= f.input :wood_stove %>
  <%= f.input :hot_tub %>
  <%= f.input :games_room %>
  <%= f.input :pet_friendly %>
  <%= f.input :sauna %>
  <%= f.input_field :features, multiple: true %>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Lodge Location</h3>
      </div>
      <br>
    </div>
  </div>
  <%= f.input :in_aviemore, label: "Lodge in Aviemore?" %>
  <%= f.input :in_country, label: "Lodge in Countryside?" %>
  <p><strong>For the latitude and longitude of your property, please visit <a href="https://www.latlong.net/" target="blank">https://www.latlong.net/</a></strong></p>
  <%= f.input :latitude %>
  <%= f.input :longitude %>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-line before grey text-center">
        <h3>Lodge Images</h3>
      </div>
      <br>
    </div>
  </div>
  <% if @property.hero_image? %>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p><strong>Current hero image...</strong></p>
        <div class="link-card-cloudinary" style="background-image: url('<%= cl_image_path @property.hero_image %>');">
        </div>
      </div>
    </div>
  <% end %>
  <%= f.input :hero_image %>
  <%= f.input :hero_image_cache, as: :hidden %>
  <% if @property.photos.present? %>
    <div class="row">
      <% @property.photos.each do |photo| %>
        <% unless photo.image.blank? %>
          <div class="col-xs-12 col-sm-4">
            <p><strong>Photo filename:</strong> <%= photo.image.filename %></p>
            <div class="link-card-cloudinary" style="background-image: url('<%= cl_image_path photo.image %>');">
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= f.simple_fields_for :photos, @photos do |p| %>
    <%= p.input :image %>
    <%= p.input :image_cache, as: :hidden %>
  <% end %>
  <%= f.button :submit, class: "btn-success" %>
<% end %>
<br>
